<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Transaction Type Code</label>
                <ng-select class="input-field" [(ngModel)]="transactionTypeCode"
                    placeholder="Select Transaction Code" [readonly]="transactionTypeName || glCategory">
                    <ng-option *ngFor="let transaction of filters?.TransactionTypeCode"
                        [value]="transaction">{{transaction}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="">Transaction Type Name</label>
                <ng-select class="input-field" [(ngModel)]="transactionTypeName"
                    placeholder="Select Transaction Name">
                    <ng-option *ngFor="let transaction of filters?.TransactionTypeName"
                        [value]="transaction">{{transaction}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>GL Sub Category</label>
                <ng-select class="input-field" [(ngModel)]="glCategory"
                    placeholder="Select GL Category">
                    <ng-option *ngFor="let transaction of filters?.GlSubCategory"
                        [value]="transaction">{{transaction}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>  
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters me-2" (click)="onTransactionTypeSearch()"
                    [disabled]="!transactionTypeName && !transactionTypeCode && !glCategory && !status">Search</button>
                <button class="custom-button-filters" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>