<div class="page-title">
  <h1>Plant Master</h1>
  <div class="action-buttons">
    <div class="search-field">
      <input type="text" placeholder="Search Plant" (input)="onSearch($event)"/>
      <span><img src="assets/images/icons/search.svg" alt="search" /></span>
    </div>
  </div>
</div>

<div class="filter-section" [ngClass]="{ 'd-none': !isFilters }">
  <app-filter></app-filter>
</div>

<div class="content-section" [ngClass]="{ isFilters: isFilters }">
  <app-plant-grid-table [filterKeyword]="filterKeyword"></app-plant-grid-table>
</div>
