<div class="filters-box">
  <div class="row">
    <div class="col-lg-2">
      <div class="custom-form-input">
        <label for="">Batch Number</label>
         <ng-select class="input-field" placeholder="Select Batch Number" [(ngModel)]="batchNumber">
          <ng-option *ngFor="let source of filteredBiltibillList" [value]="source?.biltiBillProcessModel?.batchNumber">{{source?.biltiBillProcessModel?.batchNumber}}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="handleSearch()">
          Search
        </button>
      </div>
    </div>
    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="onClearFilter()" [disabled]="!batchNumber">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
