<div class="page-title">
    <h1>Recycle Bin Plant Configuration</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="saveRecycleBinConfiguration()">Save</button>
    </div>
</div>
<div class="content-section p-3">
    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="custom-dropdown">
                <label for="">Location Code</label>
                <ng-select name="locations" [searchable]="true" [(ngModel)]="location" placeholder="Select location">
                    <ng-option *ngFor="let location of locationsDropdownData" [value]="location">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 mt-4">
            <button (click)="getRecycleBinData()" class="custom-button-regulr">Find</button>
        </div>
    </div>
    <form [formGroup]="recycleBinForm">
        <ng-container formArrayName="plantPercentages">
            <div *ngIf="plantPercentages.length > 0" class="row mt-3">
                <!-- Column Headers (Labels shown only once) -->
                <div class="col-lg-3 col-md-3"><label>Selected Location Code</label></div>
                <div class="col-lg-3 col-md-3"><label>Plant Code</label></div>
                <div class="col-lg-3 col-md-3"><label>Percentage</label></div>
            </div>
            <div class="row mt-3" *ngFor="let percentage of plantPercentages.controls; let i=index"
                formGroupName="{{i}}">
                <div class="col-lg-3 col-md-3">
                    <div class="custom-form-input">
                        <!-- <label for="location-{{i}}">Selected Location Code</label> -->
                        <input id="location-{{i}}" type="text" class="input-field" readonly
                            [formControl]="selectedLocationCode" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="custom-form-input">
                        <!-- <label for="plantCode-{{i}}">Plant Code</label> -->
                        <input id="plantCode-{{i}}" type="text" class="input-field" readonly
                            formControlName="plantCode" />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="custom-form-input">
                        <!-- <label for="percentage-{{i}}">Percentage</label> -->
                        <input id="percentage-{{i}}" type="text" class="input-field" formControlName="percentage" />
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</div>
<!-- <div class="spinner" *ngIf="loadSpinner">
    Loading...
  </div> -->