<div class="filters-box">
  <div class="row">
    <!-- <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Location Code<span class="text-danger">*</span></label>
        <ng-select [searchable]="true" [(ngModel)]="locationId" placeholder="Select location">
          <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
        </ng-select>
      </div>
    </div> -->
    <div class="col-lg-2">
      <div class="custom-form-input">
        <label for="">From Date</label>
        <div class="input-group datepicker">
          <input class="form-control" placeholder="yyyy-mm-dd" name="fromDt" [autoClose]="true" [(ngModel)]="fromDate"
            [maxDate]="today" (dateSelect)="onDateSelect('fromDate',$event)" ngbDatepicker #fromDt="ngbDatepicker" readonly/>
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="fromDt.toggle()" type="button">
            <img src="assets/images/icons/calendar.svg" alt="" width="15px">
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="custom-form-input">
        <label for="">To Date</label>
        <div class="input-group datepicker">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="toDt" [autoClose]="true"
            [(ngModel)]="toDate"
            [maxDate]="today"
            (dateSelect)="onDateSelect('toDate',$event)"
            ngbDatepicker
            #toDt="ngbDatepicker"
            readonly
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="toDt.toggle()" type="button">
            <img src="assets/images/icons/calendar.svg" alt="" width="15px">
          </button>
        </div>
      </div>
    </div>
    
    <div class="col-lg-2">
      <div class="custom-form-input">
        <label for="">Bilti Number</label>
          <ng-select class="input-field" [(ngModel)]="biltiNumber" placeholder="Select Bilti Number" [disabled]="isBiltiNumberDisabled">
            <ng-option *ngFor="let biltiNumber of filters?.BiltiNumber" [value]="biltiNumber">{{biltiNumber}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="custom-form-input">
          <label>Paid By Details</label>
          <ng-select class="input-field" [(ngModel)]="paidByDetails" placeholder="Select Status">
              <ng-option *ngFor="let paidByDetails of filters?.PaidByDetails" [value]="paidByDetails">{{paidByDetails}}</ng-option>
          </ng-select>
      </div>
  </div> 
    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="handleSearch()" [disabled]="!fromDate && !toDate && !biltiNumber && !paidByDetails">Search</button>
      </div>
    </div>
    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="onClearFilter()" [disabled]="!fromDate && !toDate && !biltiNumber && !paidByDetails">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>