<div id="exportableTable">
  <div class="custom-table">
    <table [ngClass]="sortDirection === 'asc' ?  'asc' : 'dsc'">
      <thead>
        <tr>
          <th (click)="sortData('type')">Type</th>
          <th (click)="sortData('description')">Description</th>
          <th (click)="sortData('attribute1')">Attribute 1</th>
          <th (click)="sortData('attribute2')">Attribute 2</th>
          <th (click)="sortData('attribute3')">Attribute 3</th>
          <th (click)="sortData('attribute4')">Attribute 4</th>
          <th (click)="sortData('status')">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (lookup of lookupsTypeList; track lookup.id) {
        <tr>
          <td>{{lookup.type}}</td>
          <td>{{lookup.description}}</td>
          <td>{{lookup.attribute1}}</td>
          <td>{{lookup.attribute2}}</td>
          <td>{{lookup.attribute3}}</td>
          <td>{{lookup.attribute4}}</td>
          <td>{{lookup.status}}</td>
          <td class="text-center">
              <img src="assets/images/icons/editPencil.svg" class="pointer" alt="edit" (click)="onGoToEditLookupType(lookup)">
          </td>
        </tr>
      }@empty {
        <tr>
          <td align="center" colspan="13">No Lookup Type Found</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
</div>

<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>