<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Vehicle Number</th>
        <th>Vehicle Size</th>
        <th>Transporter Name</th>
        <th>Owner Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Vehicle Condition</th>
        <th>Remarks</th>
        <th>Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (vehicle of vehiclesList; track vehicle.id) {
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{vehicle.vehicleNumber}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Creation Date</span>
                <span>{{vehicle.creationDate}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{vehicle.createdBy}}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{vehicle.lastUpdateOn}}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{vehicle.lastUpdatedBy}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{vehicle.vehicleSize.value}}</td>
        <td>{{vehicle.transporterEntity.transporterName}}</td>
        <td>{{vehicle.transporterEntity.ownerName}}</td>
        <td>{{vehicle.transporterEntity.transporterAddress1}}</td>
        <td>{{vehicle.transporterEntity.transporterContactNo}}</td>
        <td>{{vehicle.transporterEntity.transporterMailId}}</td>
        <td>{{vehicle.vehicleCondition}}</td>
        <td>{{vehicle.remarks}}</td>
        <td>{{vehicle.status}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            class="pointer"
            alt="edit"
            (click)="onEditVehicle(vehicle)"
          />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Vehicle Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>
