<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Vehicle Number</th>
        <th>Vehicle Size</th>
        <th>Transporter Name</th>
        <th>Owner Name</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Vehicle Condition</th>
        <th>Remarks</th>
        <th>Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (vehicle of vehiclesList; track vehicle.id) {
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{vehicle.vehicleNumber}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>{{vehicle.createdOn}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{vehicle.createdBy}}</span>
              </div>
              <div class="content-row">
                <span>Modified On</span>
                <span>{{vehicle.modifiedOn}}</span>
              </div>
              <div class="content-row">
                <span>Modified By</span>
                <span>{{vehicle.modifiedBy}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{vehicle.vehicleSize}}</td>
        <td>V-Trans A Group</td>
        <td>Victor Pushin Pvt. Ltd.</td>
        <td>Noida Dadri Road</td>
        <td>9835626261</td>
        <td>-</td>
        <td>{{vehicle.vehicleCondition}}</td>
        <td>{{vehicle.remarks}}</td>
        <td>{{vehicle.vehicleStatus}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            class="pointer"
            alt="edit"
            (click)="onEditVehicle()"
          />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Vehicle Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>
