<div class="page-title">
    <h1>{{lookupId>0 ? 'Edit' : 'Create' }} Lookup</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onSaveButtonClick()" [disabled]="!lookupForm.valid">Save</button>
        <button class="custom-button-regulr" (click)="onPressSubmit()" [disabled]="!lookupForm.valid">Submit</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
</div>

<div class="content-section p-3">
    <form [formGroup]="lookupForm">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Type <span class="text-danger" *ngIf="lookupId==0">*</span></label>
                    <ng-select class="input-field" formControlName="typeId" *ngIf="lookupId>0" [readonly]="true">
                        <ng-option *ngFor="let lookupType of lookupTypes"
                            [value]="lookupType.id">{{lookupType.value}}</ng-option>
                    </ng-select>
                    <ng-select class="input-field" formControlName="typeId" *ngIf="lookupId == 0">
                        <ng-option *ngFor="let lookupType of lookupTypes"
                            [value]="lookupType.id">{{lookupType.type}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Code <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="code" *ngIf="lookupId>0" readonly />
                    <input type="text" class="input-field" formControlName="code" *ngIf="lookupId == 0" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Value <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="value" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Description <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="description" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2" *ngIf="lookupId>0">
                <div class="custom-form-input">
                    <label for="">Status <span class="text-danger">*</span></label>
                    <select name="" id="" formControlName="status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 1 </label>
                    <input type="text" class="input-field" formControlName="attribute1" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 2 </label>
                    <input type="text" class="input-field" formControlName="attribute2" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 3 </label>
                    <input type="text" class="input-field" formControlName="attribute3" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 4 </label>
                    <input type="text" class="input-field" formControlName="attribute4" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 5 </label>
                    <input type="text" class="input-field" formControlName="attribute1" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 6 </label>
                    <input type="text" class="input-field" formControlName="attribute2" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 7 </label>
                    <input type="text" class="input-field" formControlName="attribute3" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 8 </label>
                    <input type="text" class="input-field" formControlName="attribute4" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 9</label>
                    <input type="text" class="input-field" formControlName="attribute4" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 10</label>
                    <input type="text" class="input-field" formControlName="attribute4" />
                </div>
            </div>
        </div>
    </form>

    <div class="edit-screen-subTable" *ngIf="showFilledDetails">
        <h4 class="">Filled Details</h4>
    </div>

    <div class="custom-table" *ngIf="showFilledDetails">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Code</th>
                    <th>Value</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Attribute 1</th>
                    <th>Attribute 2</th>
                    <th>Attribute 3</th>
                    <th>Attribute 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ filledDetails?.typeId }}</td>
                    <td>{{ filledDetails?.code }}</td>
                    <td>{{ filledDetails?.value }}</td>
                    <td>{{ filledDetails?.description }}</td>
                    <td>{{filledDetails?.status}}</td>
                    <td>{{filledDetails?.attribute1}}</td>
                    <td>{{filledDetails?.attribute2}}</td>
                    <td>{{filledDetails?.attribute3}}</td>
                    <td>{{filledDetails?.attribute4}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>