<div class="page-title">
  <h1>Approval by Accounts </h1>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-approval-accounts-filter  [filteredBiltibillList]="filteredBiltibillList" (filterSearchObj)="filteredData($event)"></app-approval-accounts-filter>
</div>


<div class="content-section" [ngClass]="{'isFilters': isFilters}">
  <app-approval-accounts-grid-table [biltiBillProcess]="biltiBillProcess" (refreshList)="getAllBiltiProcess()"></app-approval-accounts-grid-table>
</div>
<!-- <div class="spinner" *ngIf="loadSpinner">
  Loading...
</div> -->