<div class="filters-box">
    <div class="row">
        <div class="col-2" *ngIf="locations && locations.length>1">
            <div class="custom-form-input">
                <label for="">Locations</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-form-input">
                <label for="">Plant Code</label>
                <ng-select class="input-field" [(ngModel)]="plantCode" placeholder="Select Plant">
                    <ng-option *ngFor="let plant of filters?.PlantCode" [value]="plant">{{plant}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-form-input">
                <label>AU Code</label>
                <ng-select class="input-field" [(ngModel)]="auCode" placeholder="Select AU Code">
                    <ng-option *ngFor="let auCode of filters?.AuCode" [value]="auCode">{{auCode}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-form-input">
                <label>Site Code</label>
                <ng-select class="input-field" [(ngModel)]="siteCode" placeholder="Select Site Code">
                    <ng-option *ngFor="let siteCode of filters?.SiteCode" [value]="siteCode">{{siteCode}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters me-2" style="padding:4px 10px" (click)="onPlantSearch()"
                    [disabled]="!locationIds && !plantCode && !cityCode && !stateCode && !auCode && !siteCode && !status ">Search</button>
                <button class="custom-button-filters" style="padding:4px 10px" (click)="onClearFilter()" [disabled]="locationIds && !plantCode && !cityCode && !stateCode && !auCode && !siteCode && !status">Clear</button>
            </div>
        </div>
    </div>
</div>