<div class="common-modal main-content">
    <div class="ngmodal-header">
        <h3>
          Dispatch Note
          <span class="float-right pointer" (click)="activeModal.dismiss('Cross click')">
              <img src="assets/images/icons/close.svg" alt="">
          </span>
          <div class="clearfix"></div>
        </h3>
      </div>
        <div class="ngmodal-body">
            <!-- <img src="assets/images/test-delivery-note.jpg" alt=""> -->
            <p>Recycling Person Contact Number: <span class="fw-bold fs-6 phone">{{dispatch.suppliers.contactNumber}}</span></p>
            <div class="address">
                <p>LG Electronics India Pvt. Ltd.</p>
                <p>Surajpur, Greater NOIDA</p>
                <p>Uttar Pradesh</p>
            </div>

            <p class="fw-bold">Supplier Name: <span class="fs-5">{{dispatch.suppliers.vendorName}}</span></p>
            <div class="more-information">
                <div class="info">
                    <div class="key fw-bold">Address: </div>
                    <div class="value">{{dispatch.suppliers.vendorAddress1}}</div>
                </div>
                <div class="info">
                    <div class="key">Address: </div>
                    <div class="value">{{dispatch.suppliers.vendorAddress2}}</div>
                </div>
                <div class="info">
                    <div class="key">GSTIN Number: </div>
                    <div class="value">{{dispatch.suppliers.gstnNo}}</div>
                </div>
            </div>

            <div class="part-details">
                <p class="mb-0 dispatch-mode">Mode Of Dispatch: <span>Road</span></p>
                <div class="dispatch-details">
                    <p>Gate Pass: <span>{{dispatch.dispatchNumber}}</span></p>
                    <p>Dispatch Date: <span>{{dispatch.creationDate | date}}</span></p>
                </div>
                @if (dispatch.dispatchNotePartItems) {

                    <table>
                        <thead>
                            <th>S. No.</th>
                            <th>Part No.</th>
                            <th>Part Description</th>
                            <th>Dispatch(Qty/Kg)</th>
                            <th>Remarks</th>
                        </thead>
                        @for (part of dispatch.dispatchNotePartItems; track i; let i = $index) {
                            
                            <tbody >
                                <td>{{i+1}}</td>
                                <td>{{part.parts.partNumber}}</td>
                                <td>{{part.parts.partName}}</td>
                                <td>{{part.partsQty.value}}</td>
                                <td>{{part.parts.remarks}}</td>
                            </tbody>
                        }
                    </table>
                }

            </div>

            <div class="acknowledgement">
                <h3 class="fw-bold">Acknowledgement Copy</h3>
                <div class="vehicle-details mb-0">
                    <p>Vehicle Size: <span>{{dispatch.vehicles.vehicleSize.value}}</span></p>
                    <p>Vehicle No.: <span>{{dispatch.vehicles.vehicleNumber}}</span></p>
                    <p>Vehicle Owner Name: <span>{{dispatch?.vehicles.transporterEntity?.ownerName}}</span></p>
                    <p>Mobile No.: <span>{{dispatch?.vehicles.transporterEntity?.transporterContactNo}}</span></p>
                </div>

                <table class="acknowledgement-details">
                    <thead>
                        <tr>
                            <th class="lgeil-column">LGEIL</th>
                            <th>{{dispatch.suppliers.vendorName}}</th>
                            <th>At LG Gate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="time-cell">
                                <p>Time In: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Reporting: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Reporting Time: <span></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time-cell">
                                <p>Time Out: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Time In: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Time In: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time-cell">
                                <div class="d-flex flex-column">
                                    <div>
                                        <p>Created By: <span></span></p>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <p>Auth By: <span></span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="time-cell">
                                <p>Recieved By: <span></span></p>
                                <p>Signature: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Recieved By: <span></span></p>
                                <p>Signature: <span></span></p>
                            </td>
                            
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
      
</div>