<div id="dispatch-note-content" class="common-modal main-content">
    <div class="ngmodal-header">
        <div class="justify-content-end d-flex">
            <img id="download-button" class="me-3 pointer" src="assets/images/icons/download.svg" 
            alt="Download PDF" (click)="downloadPDF()">
            <img id="icon-button" class="pointer" src="assets/images/icons/close.svg" 
            alt="Close" (click)="onClose()">
        </div>
        <h3>
          Dispatch Note
        </h3>
      </div>
        <div class="ngmodal-body mt-4">
            <!-- <img src="assets/images/test-delivery-note.jpg" alt=""> -->
            <p>Recycling Contact Person: <span class="fw-bold fs-6 phone">{{dispatch?.locations?.attribute4}}</span></p>
            <div class="address">
                <p>{{dispatch?.locations?.attribute1}}</p>
                <p>{{dispatch?.locations?.attribute2}}</p>
            </div>

            <p class="fw-bold">Supplier Name: <span class="fs-5">{{dispatch.suppliers.vendorName}}</span></p>
            <div class="more-information">
                <div class="info">
                    <div class="key fw-bold">Address: </div>
                    <div class="value">{{dispatch.suppliers.vendorAddress1}}</div>
                </div>
                <div class="info">
                    <div class="key">Address: </div>
                    <div class="value">{{dispatch.suppliers.vendorAddress2}}</div>
                </div>
                <div class="info">
                    <div class="key">GSTIN Number: </div>
                    <div class="value">{{dispatch?.transporterEntity?.gstInNo}}</div>
                </div>
            </div>

            <div class="part-details">
                <p class="mb-0 dispatch-mode">Mode Of Dispatch: <span>{{dispatch?.transporterMode}}</span></p>
                <div class="dispatch-details">
                    <p>Gate Pass: <span>{{dispatch.dispatchNumber}}</span></p>
                    <p>Dispatch Date: <span>{{dispatch.creationDate | date}}</span></p>
                </div>
                @if (dispatch.dispatchNotePartItems) {

                    <table>
                        <thead>
                            <th>S. No.</th>
                            <th>Part No.</th>
                            <th>Part Description</th>
                            <th>Dispatch(Qty/Kg)</th>
                            <th>Remarks</th>
                        </thead>
                        @for (part of parts; track i; let i = $index) {
                            <tbody>
                                <td>{{i+1}}</td>
                                <td>{{part.parts.partNumber}}</td>
                                <td>{{part.parts.partName}}</td>
                                <td>{{part.partsQty}}</td>
                                <td>{{part.parts.remarks}}</td>
                            </tbody>
                        }
                    </table>
                }

            </div>

            <div class="acknowledgement">
                <h3 class="fw-bold">Acknowledgement Copy</h3>
                <div class="vehicle-details mb-0">
                    <p>Vehicle Size: <span>{{dispatch.vehicles.vehicleSize.value}}</span></p>
                    <p>Vehicle No.: <span>{{dispatch.vehicles.vehicleNumber}}</span></p>
                    <p>Vehicle Owner Name: <span>{{dispatch?.vehicles.transporterEntity?.ownerName}}</span></p>
                    <p>Mobile No.: <span>{{dispatch?.vehicles.transporterEntity?.transporterContactNo}}</span></p>
                </div>

                <table class="acknowledgement-details">
                    <thead>
                        <tr>
                            <th class="lgeil-column">LGEIL</th>
                            <th>{{dispatch.suppliers.vendorName}}</th>
                            <th>At LG Gate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="time-cell">
                                <p>Time In: <span> {{dispatch?.creationDate | date : "HH:mm:ss"}}</span></p>
                                <p>Date:<span> {{dispatch?.creationDate | date : "yyyy-MM-dd"}}</span></p>
                            </td>
                            <td class="time-cell">
                                <p>Reporting: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Reporting Time: <span></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time-cell">
                                <p>Time Out: <span>{{ getDateTime(dispatch?.creationDate) | date: "HH:mm:ss" }}</span></p>
                                <p>Date: <span>{{ getDateTime(dispatch?.creationDate) | date: "yyyy-MM-dd" }}</span></p>
                            </td>
                            <td class="time-cell">
                                <p>Time In: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Time In: <span></span></p>
                                <p>Date: <span></span></p>
                            </td>
                        </tr>
                        <tr>
                            <td class="time-cell">
                                <div class="d-flex flex-column">
                                    <div>
                                        <p>Created By: <span>{{dispatch?.createdByDetails?.name}}</span></p>
                                    </div>
                                    <div>
                                        <p>Auth By: <span></span></p>
                                    </div>
                                </div>
                            </td>
                            <td class="time-cell">
                                <p>Recieved By: <span></span></p>
                                <p>Signature: <span></span></p>
                            </td>
                            <td class="time-cell">
                                <p>Recieved By: <span></span></p>
                                <p>Signature: <span></span></p>
                            </td>
                            
                        </tr>
                    </tbody>                    
                </table>
            </div>
        </div>
      
</div>