<div class="common-modal">
  <div class="ngmodal-header">
    <h3>
      Debit Note Details
      <span class="float-right" (click)="activeModal.dismiss('Cross click')">
        <img src="assets/images/icons/close.svg" alt="" />
      </span>
      <div class="clearfix"></div>
    </h3>
  </div>
  <form [formGroup]="biltiBillDetails">
    <div class="ngmodal-body">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Bilti Number</label>
            <input type="text" class="input-field" readonly formControlName="biltiNumber" />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Bilti Date</label>
            <input type="text" class="input-field" readonly formControlName="creationDate" />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Advice Type</label>
            <input type="text" class="input-field" readonly formControlName="adviceType" />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Freight Amount</label>
            <input type="text" class="input-field" readonly formControlName="freightAmount" />
          </div>
        </div>
      </div>
      <div class="modal-subTable">
        <h4 class="">Charges by Vendor</h4>
      </div>
      <div class="custom-table">
        <table>
          <thead>
            <tr>
              <th class="ps-0">Paid By Details</th>
              <th>Supplier Name</th>
              <th>Remarks</th>
              <th>Debit Amount</th>
              <th>Debit Remarks <span class="text-danger">*</span></th>
            </tr>
          </thead>
          <tbody formArrayName="biltiCreationLineItemDetails">
            <tr *ngFor="let item of biltiCreationLineItemDetails.controls; let i = index;" [formGroupName]="i" >
              <td class="ps-0">
                <div class="custom-form-input mb-0">
                  <input type="text" class="input-field" formControlName="paidByDetails" readonly/>
                </div>
              </td>
              <td>
                <div class="custom-form-input mb-0">
                  <input type="text" class="input-field" formControlName="vendorName" readonly/>
                </div>
              </td>
              <td>
                <div class="custom-form-input mb-0">
                  <input type="text" class="input-field" formControlName="remarks" readonly/>
                </div>
              </td>
              <td>
                <div class="custom-form-input mb-0">
                  <input type="text" class="input-field" formControlName="debitAmount" readonly/>
                </div>
              </td>
              <td>
                <div class="custom-form-input mb-0">
                  <input type="text" class="input-field" formControlName="debitRemarks" />
                </div>
              </td>
              <input type="hidden" formControlName="id" /> <!-- Hidden field to store the id -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="ngmodal-footer text-center mt-5">
      <button class="custom-button-regulr" (click)="OnPressSave()" [disabled]="biltiBillDetails.invalid">Save</button>
    </div>
  </form>
</div>
<!-- <div class="spinner" *ngIf="loadSpinner">
  Loading...
</div> -->
