:root{
    --primaryColor : #a53c00;
    --primaryDarkColor : #A50034;
    --secondaryColor : #214693;
    --themeBg : #fffcf1;
    --white : #fff;
    --gray1 : #848484;
    --tableBorderColor : #E9E9E9;
    --inputBorder : #535353;
    --exportGreen : #21A366;
    --gray2 : #ececec;
    --gray3 : #2F2F2F;  //to be update
    --gray4 : #D2DDEB;  //to be update
    --border-color : #848484;  //to be update
    --tabsInactive : #899FCD;  //to be update
    --black1 : #373737;  //to be update
    --black : #000000;
}