<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Transporter Code</th>
        <th>Trans. Name</th>
        <th>Location Code</th>
        <th>Consignor Name</th>
        <th>Owner</th>
        <th>Contact Person</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Regd. Details</th>
        <th>Status</th>
        <th>Auto Bilti Req.</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (transporter of transportersList; track transporter.id) {
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{transporter.transporterCode}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>{{transporter.createdOn}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{transporter.createdBy}}</span>
              </div>
              <div class="content-row">
                <span>Modified On</span>
                <span>{{transporter.modifiedOn}}</span>
              </div>
              <div class="content-row">
                <span>Modified By</span>
                <span>{{transporter.modifiedBy}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{transporter.transporterName}}</td>
        <td>{{transporter.locationId}}</td>
        <td>{{transporter.consignorName}}</td>
        <td>{{transporter.ownerName}}</td>
        <td>{{transporter.contactPerson}}</td>
        <td>{{transporter.transporterAddress1}} {{transporter.transporterAddress2}}</td>
        <td>{{transporter.transporterContactNo}}</td>
        <td>{{transporter.transporterMailId}}</td>
        <td>{{transporter.regdDetails}}</td>
        <td>{{transporter.transporterStatus}}</td>
        <td>{{transporter.autoBiltiRequiredFlag}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            class="pointer"
            alt="edit"
            (click)="onGoToEditTransporter(transporter.id)"
          />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Transporter Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>
