<div id="exportableTable">
  <div class="custom-table">
  <table [ngClass]="sortDirection === 'asc' ?  'asc' : 'dsc'">
    <thead>
      <tr>
        <th (click)="sortData('transporterCode')">Transporter Code</th>
        <th (click)="sortData('transporterName')">Trans. Name</th>
        <th (click)="sortData('locationId')">Location Code</th>
        <th (click)="sortData('consignorName')">Consignor Name</th>
        <th (click)="sortData('ownerName')">Owner</th>
        <th (click)="sortData('contactPerson')">Contact Person</th>
        <th (click)="sortData('transporterAddress1')">Address</th>
        <th (click)="sortData('transporterContactNo')">Contact</th>
        <th (click)="sortData('transporterMailId')">Email</th>
        <th (click)="sortData('regdDetails')">Regd. Details</th>
        <th (click)="sortData('status')">Status</th>
        <th (click)="sortData('autoBiltiRequiredFlag')">Auto Bilti Req.</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (transporter of transportersList; track transporter.id) {
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{transporter.transporterCode}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Creation Date</span>
                <span>{{transporter.creationDate | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{transporter.createdBy}}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{transporter.lastUpdateOn | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{transporter.lastUpdatedBy}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{transporter.transporterName}}</td>
        <td>{{transporter.locationId}}</td>
        <td>{{transporter.consignorName}}</td>
        <td>{{transporter.ownerName}}</td>
        <td>{{transporter.contactPerson}}</td>
        <td>{{transporter.transporterAddress1}} {{transporter.transporterAddress2}}</td>
        <td>{{transporter.transporterContactNo}}</td>
        <td>{{transporter.transporterMailId}}</td>
        <td>{{transporter.regdDetails}}</td>
        <td>{{transporter.status}}</td>
        <td>{{transporter.autoBiltiRequiredFlag}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            class="pointer"
            alt="edit"
            (click)="onGoToEditTransporter(transporter.id)"
          />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Transporter Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>
</div>