<div class="page-title">
  <h1>Edit Point Charge</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>
<div class="content-section p-3">
  <div class="col-md-2">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="custom-form-input">
          <label for="">Location Code</label>
          <input type="text" class="input-field" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="custom-form-input">
          <label for="">Point Name</label>
          <input type="text" class="input-field" type="text" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="custom-form-input">
          <label for="">Point Charge</label>
          <input type="text" class="input-field" type="text" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="custom-form-input">
          <label for="">Same Location Charge</label>
          <input type="text" class="input-field" type="text" />
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="custom-form-input">
          <label for="">Status</label>
          <select name="" id="">
            <option value="">Active</option>
            <option value="">Inactive</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
