<div class="page-title">
  <h1>{{ pointChargeId ? 'Edit Point Charge' : 'Create Point Charge' }}</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onPressSave()" [disabled]="!pointChargeForm.valid">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="pointChargeForm">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Location Code<span class="text-danger">*</span></label>
          <ng-select [searchable]="true" formControlName="locationCode" placeholder="Select location" [readonly]="pointChargeId > 0">
            <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Point Name <span class="text-danger">*</span></label>
          <input type="text" class="input-field" formControlName="pointName" *ngIf="pointChargeId" readonly />
          <ng-select name="" id="" formControlName="pointName" *ngIf="!pointChargeId">
            <ng-option *ngFor="let pointName of pointNameData"
              [value]="{name: pointName.value, id: pointName.id}">{{pointName.value}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Point Charge <span class="text-danger">*</span></label>
          <input type="text" class="input-field" formControlName="pointCharge" />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Same Location Charge <span class="text-danger">*</span></label>
          <input type="text" class="input-field" formControlName="sameLocationCharge" />
        </div>
      </div>
      <div class="col-lg-2 col-md-2" *ngIf="pointChargeId">
        <div class="custom-form-input">
          <label for="">Status <span class="text-danger">*</span></label>
          <select name="" id="" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- <div class="spinner" *ngIf="loadSpinner">
  Loading...
</div> -->