<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">From Date</label>
                <input type="text" class="input-field">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">To Date</label>
                <input type="text" class="input-field">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Advice Type</label>
                <input type="text" class="input-field">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Batch Name</label>
                <input type="text" class="input-field">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Bilti Number</label>
                <input type="text" class="input-field">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters">Search</button>
            </div>
        </div>
    </div>
</div>