<div class="filters-box">
    <div class="row">
        <div class="col-lg-2" *ngIf="locations && locations.length>1">
            <div class="">
                <label for="">Location Code</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Point Name</label>
                <ng-select class="input-field" [(ngModel)]="pointName" placeholder="Select Point Name">
                    <ng-option *ngFor="let point of filters?.PointName" [value]="point">{{point}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters" (click)="onPointChargeSearch()" [disabled]="locationIds.length==0 && !pointName">Search</button>
                <button class="custom-button-filters ms-2" (click)="onClearFilter()" [disabled]="locationIds.length && !pointName">Clear</button>
            </div>
        </div>
    </div>
</div>