<div class="filters-box">
    <div class="row">
        <div class="col-lg-4" *ngIf="locations && locations.length>1">
                <label for="">Location Code</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations"
                        [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Bilti Number</label>
                <ng-select class="input-field" [(ngModel)]="biltiNum" placeholder="Select Bilti Number">
                    <ng-option *ngFor="let biltiNo of filters?.BiltiNumber" [value]="biltiNo">{{biltiNo}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="onBiltiSearch()"
                        [disabled]="locationIds.length==0 && !biltiNum && !status">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()" [disabled]="locationIds.length && !biltiNum && !status">
                        Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>