<div class="filters-box">
    <div class="row">
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Vendor Name </label>
                <ng-select class="input-field" [(ngModel)]="biltiNum" placeholder="Select Bilti Number">
                    <ng-option *ngFor="let biltiNo of filters?.Vendors" [value]="biltiNo">{{biltiNo}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Application Number</label>
                <ng-select class="input-field" [(ngModel)]="biltiStatus" placeholder="Select Bilti Status">
                    <ng-option *ngFor="let status of filters?.ApplicationNumber" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Client Inv No </label>
                <ng-select class="input-field" [(ngModel)]="transactionTypeCode" placeholder="Select Transaction Code">
                    <ng-option *ngFor="let transaction of filters?.ClientInvoiceNo"
                        [value]="transaction">{{transaction}}</ng-option>
                </ng-select>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="onBiltiSearch()"
                        [disabled]=" !biltiNum && !status">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()"
                        [disabled]="!biltiNum && !status && !biltiStatus">
                        Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>