<div class="page-title">
  <h1>Point Charge Master</h1>
  <div class="action-buttons">
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    <button class="custom-button-regulr" (click)="onCreatePointCharge()">Create Point Charge</button>
    <div container="body">
      <img
        src="assets/images/icons/fullScreen.svg"
        alt=""
        class="pointer"
        width="14px"
        (click)="fullScreen = !fullScreen"
        placement="start"
        [ngbTooltip]="tipContent"
      />
      <ng-template #tipContent> Full Screen </ng-template>
    </div>
  </div>
</div>

<div class="filter-section">
  <app-point-filter [filters]="filters" (getData)="getData($event)" [locations]="locations"></app-point-filter>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters, fullScreen : fullScreen}">
  <img
      *ngIf="fullScreen"
      src="assets/images/icons/fullScreenCollapse.svg"
      alt=""
      class="me-3 pointer float-end"
      width="14px"
      (click)="fullScreen = !fullScreen"
    />
    <div class="grid-table">
      <div class="table-container">
  <app-point-charge-grid-table [pointChargesList]="pointChargesList" (exportHeader)="onExportHeader($event)"></app-point-charge-grid-table>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <ngb-pagination [collectionSize]="totalPointCharges" [(page)]="currentPage" [pageSize]="count" 
    (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"></ngb-pagination>
    <p class="mt-2 ms-3"> Items per page:</p>
    <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
      <option [value]="5">5</option>
      <option [value]="10">10</option>
      <option [value]="15">15</option>
      <option [value]="20">20</option>
      <option [value]="maxCount">All Data</option>
    </select>
  </div>
  </div>
</div>