<div class="common-modal">
    <div class="ngmodal-header">
        <h3>
          Transaction Type
          <span class="float-right pointer" (click)="activeModal.dismiss('Cross click')">
              <img src="assets/images/icons/close.svg"  alt="">
          </span>
          <div class="clearfix"></div>
        </h3>
      </div>
      <form>
        <div class="ngmodal-body">
            <div class="custom-table">
                <table>
                    <thead>
                        <tr>
                            <th>Transaction Code</th>
                            <th>Transaction Name</th>
                            <th>Transaction Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (transaction of activeTransactionTypes; track transaction.id) {
                        <tr>
                            <td>{{transaction.code}}</td>
                            <td>{{transaction.name}}</td>
                            <td>{{transaction.status}}</td>
                        </tr>
                    }@empty {
                        <tr>
                          <td align="center" colspan="13">No Transaction Found</td>
                        </tr>
                      }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ngmodal-footer">
      
        </div>
      </form>
      
</div>