<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Part Number</label>
                <ng-select class="input-field" [(ngModel)]="partNum" placeholder="Select part number">
                    <ng-option *ngFor="let part of partsList" [value]="part.partNumber">{{part.partNumber}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Part Name</label>
                <ng-select class="input-field" [(ngModel)]="partName" placeholder="Select part name">
                    <ng-option *ngFor="let part of partsList" [value]="part.partName">{{part.partName}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters" (click)="onPartSearch()"
                [disabled]="!partName && !partNum">Search</button>
                <button class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>