.twoSide-filter{
    display: flex;
    column-gap: 25px;
    .selection-box{
        width:240px;
        max-width: 240px;
        min-width: 240px;
        background-color: var(--themeBg);
        max-height: 250px;
        min-height: 250px;
        overflow: auto;

        li{
            list-style: none;
            padding:7px 10px;
            cursor: pointer;

            &.active{
                background-color: var(--gray4);
            }
        }
    }
    .buttons-selection{
        width: 150px;
        max-width: 150px;
        min-width: 150px;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        button{
            width:100%;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

[cdkDropList] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #f9f9f9;
  }
  
  [cdkDrag] {
    padding: 10px;
    margin: 0 0 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    cursor: move;
    display: block;
    text-align: center;
  }