<div class="custom-table">
  <table #table [ngClass]="sortDirection === 'asc' ?  'asc' : 'dsc'">
    <thead>
      <tr>
        <th (click)="sortData('partNumber')">Customer Code</th>
        <th (click)="sortData('partNumber')">Customer Type</th>
        <th (click)="sortData('partName')">Customer Name</th>
        <th (click)="sortData('description')">Address</th>
        <th (click)="sortData('partSize')">Email</th>
        <th (click)="sortData('partPrice')">Mobile Number</th>
        <th (click)="sortData('status')">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (part of partsList; track part.id) {
      <tr>
        <td class="pointer" container="body">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{part.customerCode}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Creation Date</span>
                <span>{{part.creationDate | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{part?.createdByDetails?.name}}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{part.lastUpdateOn | date: 'yyyy-MM-dd'}}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{part?.lastUpdatedByDetails?.name}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{part.customerType}}</td>
        <td>{{part.customerName}}</td>
        <td>{{part.billingAddressLine1}}</td>
        <td>{{part.email}}</td>
        <td>{{part.mobileNumber}}</td>
        <td>{{part.status}}</td>
        <td class="text-center">
          <img src="assets/images/icons/editPencil.svg" class="pointer" alt="edit" (click)="onGoToEditPart(part)" />
        </td>
      </tr>
      }@empty {
      <tr>
        <td align="center" colspan="13">No Part Found</td>
      </tr>
      }
    </tbody>
  </table>
</div>