<div class="page-title">
    <h1>Create Part Master</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onPressSave()" 
        [disabled]="!partData.partNumber || !partData.partSize || !partData.partPrice"
        >Save</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
</div>

<div class="content-section p-3">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Number <span class="text-danger">*</span></label>
                <ng-select class="input-field" [(ngModel)]="partData.partNumber">
                    <ng-option *ngFor="let part of partsList" [value]="part.partNumber">{{part.partNumber}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Name</label>
                    <input type="text" class="input-field" [(ngModel)]="partData.partName" disabled/>
                   
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="custom-form-input">
                <label for="">Description</label>
                <input type="text" class="input-field" [(ngModel)]="partData.description" disabled/>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Size <span class="text-danger">*</span></label>
                <input type="text" class="input-field" [(ngModel)]="partData.partSize"/>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Price <span class="text-danger">*</span></label>
                <input type="text" class="input-field" [(ngModel)]="partData.partPrice"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Status</label>
                <select name="" id="" [(ngModel)]="partData.status">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
                <label for="">Remarks</label>
                <input type="text" class="input-field" [(ngModel)]="partData.remarks"/>
            </div>
        </div>
    </div>
</div>

<div class="spinner" *ngIf="loadSpinner">
    Loading...
  </div>