<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>
          <input type="checkbox" (change)="toggleSelectAll($event)" [checked]="allSelected" />
        </th>
        <th>Batch Number</th>
        <th>Bilti Bill Process Date</th>
        <th>Bilti Number</th>
        <th>Grand Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let biltiList of biltiBillProcess; let i = index">
        <td>
          <input type="checkbox" [(ngModel)]="biltiList.selected" (change)="toggleSelection(biltiList, $event)" />
        </td>
        <td>{{biltiList?.biltiBillProcessModel?.batchNumber}}</td>
        <td>{{biltiList?.biltiBillProcessModel?.biltiBillProcessDate | date : 'yyyy-MM-dd'}}</td>
        <td>{{biltiList?.biltiNumber}}</td>
        <td>{{biltiList?.biltiBillProcessModel?.grandTotal}}</td>
      </tr>
      <tr>
        <td align="center" colspan="5" *ngIf="!biltiBillProcess.length">No Data Found</td>
      </tr>
    </tbody>
  </table>
</div>
