<div class="common-modal">
    <div class="ngmodal-header">
        <h3>
            Change Bilti Status
            <span class="float-right" (click)="activeModal.dismiss('Cross click')">
                <img src="assets/images/icons/close.svg" alt="" />
            </span>
        </h3>
    </div>
    <form>
        <div class="ngmodal-body">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="custom-form-input">
                        <label for="">Bilti Number</label>
                        <input type="text" class="input-field" disabled [(ngModel)]="biltiData.biltiNumber" name="biltiNumber"/>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="custom-form-input">
                        <label for="">Remarks</label>
                        <textarea name="" id="" cols="10" rows="3" placeholder="Enter Remarks" [(ngModel)]="remarks" name="remarks"></textarea>
                    </div>
                </div>
            </div>
            <label for="debitNoteUpload" class="custom-file-upload custom-button-regulr mt-2 pointer text-center" >Upload NOC</label>
            <input type="file" accept=".pdf" id="debitNoteUpload" (change)="onUploadNoc($event)" />
        </div>
        <div class="ngmodal-footer text-center mt-5">
            <button class="custom-button-regulr" (click)="onSubmit()" [disabled]="!nocFileBase64">Save</button>
        </div>
    </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
  </div>