<div class="page-title">
    <h1>{{freightId>0 ? 'Edit Freight' : 'Create Freight'}}</h1>
    <div class="action-buttons">
        <div class="action-buttons">
            <label for="file-upload" class="custom-file-upload custom-button-export pointer">Upload</label>
            <input type="file" id="file-upload" (change)="onUploadPdf($event)" />
          </div>
        <button class="custom-button-regulr" (click)="onPressSave()" [disabled]="!freightForm.valid">Save</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">
            Cancel
        </button>
    </div>
</div>

<div class="content-section p-3">
    <form [formGroup]="freightForm">
        <div class="row">
            <div class="col-lg-2 col-md-2" *ngIf="freightId>0">
                <div class="custom-form-input">
                    <label for="">Freight Code</label>
                    <input type="text" class="input-field" formControlName="freightCode" readonly />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Location Code<span class="text-danger">*</span></label>
                    <ng-select [searchable]="true" formControlName="locationCode" placeholder="Select location" [readonly]="freightId > 0">
                        <ng-option *ngFor="let location of locations"
                            [value]="location.id">{{location.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Source <span class="text-danger">*</span></label>
                    <ng-select class="input-field" placeholder="Select Source" formControlName="source">
                        <ng-option *ngFor="let source of sources" [value]="source.id">{{source.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Destination <span class="text-danger">*</span></label>
                    <ng-select class="input-field" placeholder="Select Destination" formControlName="destination">
                        <ng-option *ngFor="let destination of destinations"
                            [value]="destination.id">{{destination.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="custom-form-input">
                    <label for="">Vehicle Size <span class="text-danger">*</span></label>
                    <ng-select class="input-field" placeholder="Select Vehicle Size" formControlName="vehicleSize">
                        <ng-option *ngFor="let vehcileSize of vehcileSizes"
                            [value]="vehcileSize.id">{{vehcileSize.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="custom-form-input">
                    <label for="">Freight Amount <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="freightAmount" [readOnly]="freightId" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4" *ngIf="freightId">
                <div class="custom-form-input">
                    <label for="">New Freight Amount</label>
                    <input type="text" class="input-field" formControlName="newFreightAmount" />
                </div>
            </div>

            <div class="col-lg-2 col-md-2" *ngIf="freightId>0">
                <div class="custom-form-input">
                    <label for="">Status <span class="text-danger">*</span></label>
                    <select formControlName="status" name="status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Remarks</label>
                    <input type="text" class="input-field" formControlName="remarks" />
                </div>
            </div>
        </div>
    </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>