<div class="page-title">
    <h1>{{queryData ? 'Edit Freight' : 'Create Freight'}}</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onPressSave()">Save</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">
            Cancel
        </button>
    </div>
</div>

<div class="content-section p-3">
    <form [formGroup]="freightForm">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Freight Code</label>
                    <input type="text" class="input-field" formControlName="freightCode" [readonly]="queryData != 0" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <!-- <div class="custom-form-input">
                    <label for="">Location Code</label>
                    <ng-select class="input-field" formControlName="locationCode" placeholder="Select Location Code" [readonly]="true">
                        <ng-option *ngFor="let loc of locations" [value]="loc.value">{{loc.value}}</ng-option>
                    </ng-select>
                </div> -->
                <div class="custom-form-input">
                    <label for="">Location Code</label>
                    <div class="input-with-icon">
                        <input type="text" class="input-field" *ngIf="this.queryData != 0" [value]="locationCode"
                            readonly />
                        <input type="text" class="input-field" *ngIf="this.queryData == 0" value="HA" readonly />
                        <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Source</label>
                    <input type="text" class="input-field" formControlName="source" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Destination</label>
                    <input type="text" class="input-field" formControlName="destination" />
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="custom-form-input">
                    <label for="">Vehicle Size</label>
                    <select name="" id="">
                        <option value="active">10</option>
                        <option value="inactive">11</option>
                    </select>
                    <!-- <input type="text" class="input-field" formControlName="vehicleSize"> -->
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="custom-form-input">
                    <label for="">Freight Amount</label>
                    <input type="text" class="input-field" formControlName="freightAmount" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-2">
                <div class="custom-form-input">
                    <label for="">Remarks</label>
                    <input type="text" class="input-field" formControlName="remarks" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Status</label>
                    <select formControlName="status" name="status" >
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>