<div class="page-title">
  <h1>Payment Management</h1>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-point-master-accounts-filter (pointFilterObj)="searchPointName($event)"></app-point-master-accounts-filter>
</div>


<div class="content-section" [ngClass]="{isFilters: isFilters}">
  <app-point-master-accounts-grid-table [searchedPoint]="searchedPoint"></app-point-master-accounts-grid-table>
</div>

<!--[searchedPoint] [] input data grid m ja rha h yha se  and yeh variable bhi h -->
<!-- (pointFilterObj) yeh data aa rha h filter waala compoinenet se and parent ke ander bjej rhe h and yeh event h  -->
