<div class="page-title">
    <h1>Change Bilti Status Listing</h1>
</div>
<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
    <app-change-bilti-status-filter [filteredBiltibillList]="filteredBiltibillList" (filterSearchObj)="filteredData($event)"></app-change-bilti-status-filter>
  </div>
  
  <div class="content-section" [ngClass]="{'isFilters': isFilters}">
    <app-change-bilti-status-grid-table [biltiBillProcess]="biltiBillProcess"></app-change-bilti-status-grid-table>
  </div>