<div class="left-sidebar">
    <div class="brand-logo">
      <img src="assets/images/logo.png" alt="" width="80px" />
    </div>
    <div class="left-sidebar-inner">
      <div class="accordion" id="sidebarAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="masterHeading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMasters" aria-expanded="true" aria-controls="collapseMasters">
              Masters
            </button>
          </h2>
          <div id="collapseMasters" class="accordion-collapse collapse" [ngClass]="{ 'show': isMasterModule }" aria-labelledby="masterHeading" data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul>
                <li (click)="onMasterChange('plant')" *ngIf="securityGroups('mfg-plant-master')">Plant Master</li>
                <li (click)="onMasterChange('transactionType')" *ngIf="securityGroups('mfg-transaction-type-master')">Transaction Type Master</li>
                <li (click)="onMasterChange('vendor')" *ngIf="securityGroups('mfg-vendor-master')">Vendor Master</li>
                <li (click)="onMasterChange('transporter')" *ngIf="securityGroups('mfg-transporter-master')">Transporter Master</li>
                <li (click)="onMasterChange('vehicle')" *ngIf="securityGroups('mfg-vehicle-master')">Vehicle Master</li>
                <li (click)="onMasterChange('freight')" *ngIf="securityGroups('mfg-freight-master')">Freight Master</li>
                <li (click)="onMasterChange('pointCharge')" *ngIf="securityGroups('mfg-point-charge-master')">Point Charge Master</li>
                <li (click)="onMasterChange('part')" *ngIf="securityGroups('mfg-part-master')">Part Master</li>
                <li (click)="onMasterChange('advice')" *ngIf="securityGroups('mfg-advice-master')">Advice Master</li>
                <li (click)="onMasterChange('lookup')" *ngIf="securityGroups('mfg-lookup-master')">Lookup Master</li>
                <li (click)="onMasterChange('lookupType')" *ngIf="securityGroups('mfg-lookup-master')">Lookup Type Master</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="transactionsHeading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTransactions" aria-expanded="false" aria-controls="collapseTransactions">
              Transactions
            </button>
          </h2>
          <div id="collapseTransactions" class="accordion-collapse collapse" [ngClass]="{ 'show': !isMasterModule }" aria-labelledby="transactionsHeading" data-bs-parent="#sidebarAccordion">
            <div class="accordion-body">
              <ul>
                <li (click)="onTransactionChange('dispatchNote')" *ngIf="securityGroups('mfg-dispatch-note')">Dispatch Note</li>
                <li (click)="onTransactionChange('bilti')" *ngIf="securityGroups('mfg-bilti')">Bilti Creation</li>
                <li (click)="onTransactionChange('biltiBillProcessView')" *ngIf="securityGroups('mfg-bilti-bill-process-view')">Bilti Bill Process View</li>
                <li (click)="onTransactionChange('pointMasterMaterial')" *ngIf="securityGroups('mfg-point-master-material')">Point Master by Material</li>
                <li (click)="onTransactionChange('pointMasterAccounts')" *ngIf="securityGroups('mfg-point-master-accounts')">Point Master by Accounts</li>
                <li (click)="onTransactionChange('freightMasterMaterial')" *ngIf="securityGroups('mfg-freight-master-material')">Freight Master by Material</li>
                <li (click)="onTransactionChange('freightMasterAccounts')" *ngIf="securityGroups('mfg-freight-master-accounts')">Freight Master by Accounts</li>
                <li (click)="onTransactionChange('checkedMaterialsTeam')" *ngIf="securityGroups('mfg-checked-materials')">Checked by Material's Team</li>
                <li (click)="onTransactionChange('approvalMaterialHead')" *ngIf="securityGroups('mfg-approval-materials')">Approval by Material's Head</li>
                <li (click)="onTransactionChange('approvalAccounts')" *ngIf="securityGroups('mfg-approval-accounts')">Approval by Accounts</li>
                <li (click)="onTransactionChange('changeBiltiStatus')" *ngIf="securityGroups('mfg-change-bilti-statu')">Change Bilti Status</li>
                <!-- <li (click)="onTransactionChange('approvalMaterial')">Approval by Material</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>