<div class="page-title">
  <h1>Edit Plant Master</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>
<div class="content-section p-3">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Code</label>
        <p-autoComplete [suggestions]="results" (completeMethod)="filterCountry($event)" field="name"></p-autoComplete>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Description</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="custom-form-input">
        <label for="">Plant Address</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">City</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">State</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">PAN</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">GSTIN</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Type</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Site Code</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Location Code</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">DSC</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">DCP</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Status</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
  </div>
</div>
