<div class="page-title">
  <h1>Edit Plant Master</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>
<div class="content-section p-3">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Code</label>
        <div class="input-with-icon">
          <p-autoComplete [suggestions]="results" (completeMethod)="filterCountry($event)"
            field="name"></p-autoComplete>
          <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Description</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-4 col-md-4">
      <div class="custom-form-input">
        <label for="">Plant Address</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">City</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">State</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">PAN</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">GSTIN</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Plant Type</label>
        <select name="" id="" disabled>
          <option value="active">Manufacturing</option>
          <option value="inactive">Service</option>
        </select>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Site Code</label>
        <input type="text" class="input-field" type="text" disabled/>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Location Code</label>
        <div class="input-with-icon">
          <input type="text" class="input-field" type="text" />
          <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">DSC</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">DCP</label>
        <input type="text" class="input-field" type="text" />
      </div>
    </div>
    <div class="col-lg-2 col-md-2">
      <div class="custom-form-input">
        <label for="">Status</label>
        <select name="" id="">
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
    </div>
  </div>

  <div class="edit-screen-subTable">
    <h4 class="">Transaction Details
      <button class="custom-button-regulr">Add</button>
    </h4>
  </div>

  <div class="custom-table">
    <table>
      <thead>
        <tr>
          <th>Transaction Code</th>
          <th>Transaction Name</th>
          <th>Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="col-lg-6 col-md-6">
              <div class="custom-form-input">
                <div class="input-with-icon">
                  <input type="text" class="input-field" placeholder="RB" />
                  <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">

                </div>
              </div>
            </div>
          </td>
          <td>Recycle Bin</td>
          <td>
            <div class="col-lg-6 col-md-6">
              <div class="custom-form-input">
                <select name="" id="">
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
            </div>
          </td>
          <td class="text-center">
            <img src="assets/images/icons/trash.svg" class="me-2" alt="link">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>