<div class="page-title">
  <h1>Edit Plant</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onPressSave()">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>
<div class="content-section p-3">
  <form [formGroup]="plantForm">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Plant Code</label>
          <!-- <ng-select class="input-field" [(ngModel)]="plantData.plantCode">
          <ng-option *ngFor="let plant of plantsList" [value]="plant.plantCode">{{plant.plantCode}}</ng-option>
       </ng-select> -->
          <input type="text" class="input-field" formControlName="plantCode" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Plant Name</label>
          <input type="text" class="input-field" formControlName="plantDesc" readonly />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="custom-form-input">
          <label for="">Plant Address</label>
          <input type="text" class="input-field" formControlName="plantAddress" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">City</label>
          <input type="text" class="input-field" formControlName="city" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">State</label>
          <input type="text" class="input-field" formControlName="stateCode" readonly />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">PAN</label>
          <input type="text" class="input-field" formControlName="panNo" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">GSTIN</label>
          <input type="text" class="input-field" formControlName="gstnNo" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Plant Type</label>
          <input type="text" class="input-field" formControlName="plantType" readonly />
          <!-- <select name="" id="" disabled>
          <option value="active">Manufacturing</option>
          <option value="inactive">Service</option>
        </select> -->
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Site Code</label>
          <input type="text" class="input-field" formControlName="siteCode" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">AU Code<span class="text-danger">*</span></label>
          <input type="text" class="input-field" formControlName="auCode" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Freight City<span class="text-danger">*</span></label>
          <ng-select [searchable]="true" formControlName="freightCity" placeholder="Select Freight City">
            <ng-option *ngFor="let city of freightCity" [value]="city.code">{{city.code}}</ng-option>
          </ng-select>
        </div>
      </div>

      <!-- new dropdowns. to be changed later -->
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Profit Center<span class="text-danger">*</span></label>
          <ng-select [searchable]="true" formControlName="profitCenter" placeholder="Select location">
            <ng-option *ngFor="let center of profitCenterDropdownData" [value]="center.code">{{center.code}} ({{center?.description}})</ng-option>
          </ng-select>
        </div>
      </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Cost Center<span class="text-danger">*</span></label>
            <ng-select [searchable]="true" formControlName="costCenter" placeholder="Select Cost Center">
              <ng-option *ngFor="let center of costCenterDropdownData" [value]="center.code">{{center.code}} ({{center?.description}})</ng-option>
            </ng-select>
          </div>
        </div>

        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Business Place<span class="text-danger">*</span></label>
            <ng-select [searchable]="true" formControlName="businessPlace" placeholder="Select Business Place">
              <ng-option *ngFor="let place of businessPlaceDropdownData" [value]="place.code">{{place.code}} ({{place?.description}})</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Section Code<span class="text-danger">*</span></label>
            <ng-select [searchable]="true" formControlName="sectionCode" placeholder="Select Section Code">
              <ng-option *ngFor="let code of sectionCodeDropdownData" [value]="code.code">{{code.code}} ({{code?.description}})</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Status <span class="text-danger">*</span></label>
            <select name="" id="" formControlName="status">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
          </div>
        </div>
    </div>
  </form>

  <div class="edit-screen-subTable">
    <h4 class="">
      Transaction Details
      <button class="custom-button-regulr" (click)="onAddTransactionRow()">Add</button>
    </h4>
  </div>

  <div class="custom-table">
    <table>
      <thead>
        <tr>
          <th>Location Code</th>
          <th style="padding-left: 40px">DSC</th>
          <th>DCP</th>
          <th style="padding-right: 40px">Transaction Code</th>
          <th>Transaction Name</th>
          <th>Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="plantData?.transactionTypeMapping">
        @for (transaction of plantData.transactionTypeMapping; track transaction.id; let ind = $index) {
        <tr>
          <td>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <ng-select [searchable]="true" placeholder="Select location"
                (change)="getLocationData($event, ind)" [(ngModel)]="transaction.locations.value">
                <ng-option *ngFor="let location of locationsDropdownData" [value]="location.id">{{location.value}}</ng-option>
              </ng-select>
            </div>
          </div>
        </td>
        <td>
          <div class="col-lg-6 col-md-6" style="padding-left: 30px">
            <div class="custom-form-input transactionwidth">
              <input type="text" class="input-field capitalize" readonly [(ngModel)]="transaction.dsc"/>
            </div>
          </div>
        </td>
        <td>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input transactionwidth">
              <input type="text" class="input-field" readonly [(ngModel)]="transaction.dcp"/>
            </div>
          </div>
        </td>
          <td>
            <div class="col-lg-12 col-md-12">
              <div class="custom-form-input transactionwidth">
                <!-- <div class="input-with-icon">
                  <input type="text" class="input-field" placeholder="RB" [(ngModel)]="transaction.code"/>
                  <img
                    src="assets/images/icons/search.svg"
                    class="search-icon"
                    alt="Search"
                  />
                </div> -->
                <ng-select class="input-field" [(ngModel)]="transaction.code"
                  (change)="onTransactionSelect($event, ind)" (clear)="onTransactionClear(ind)">
                  <ng-option *ngFor="let transaction of getFilteredTransactionTypes(ind)" [value]="transaction">
                    {{transaction?.code}} ({{transaction?.name}})
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </td>
          <td>{{transaction.name}}</td>
          <td>
            <div class="col-lg-12 col-md-12">
              <div class="custom-form-input mb-0">
                <select name="" id="" [(ngModel)]="transaction.status" disabled>
                  <option value="Active" selected>Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
              </div>
            </div>
          </td>
          <td class="text-center">
            <img src="assets/images/icons/trash.svg" class="me-2 pointer" alt="link"
              (click)="onDeleteTransaction(transaction, ind)" />
          </td>
        </tr>
        }@empty {
        <tr>
          <td align="center" colspan="13">No Transaction Code Found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>