<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Dispatch Number</th>
        <th>Supplier Code</th>
        <th>Supplier Name</th>
        <th>Vehicle Number</th>
        <th>Vehicle Size</th>
        <th>Creator</th>
        <th>Status</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dispatchNote of dispatchNotes">
        <td class="pointer">
          <span
            container="body"
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{dispatchNote.dispatchNumber}}</u>
            <ng-template #tipContent>
              <div class="">
                <div class="content-row">
                  <span>Created On</span>
                  <span>{{dispatchNote.creationDate}}</span>
                </div>
                <div class="content-row">
                  <span>Created By</span>
                  <span>{{dispatchNote.createdBy}}</span>
                </div>
                <div class="content-row">
                  <span>Last Update Date</span>
                  <span>{{dispatchNote.lastUpdateOn}}</span>
                </div>
                <div class="content-row">
                  <span>Last Updated By</span>
                  <span>{{dispatchNote.lastUpdatedBy}}</span>
              </div>
              </div>
            </ng-template>
          </span>
        </td>
        <td>{{dispatchNote.suppliers.vendorCode}}</td>
        <td>{{dispatchNote.suppliers.vendorName}}</td>
        <td>{{dispatchNote.vehicles.vehicleNumber}}</td>
        <td>{{dispatchNote.vehicles.vehicleSize.value}}</td>
        <td>{{dispatchNote.createdBy}}</td>
        <td>{{dispatchNote.status}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/link.svg"
            alt="link"
            class="me-2 pointer"
            (click)="onPreviewDispatchNote(dispatchNote)"
            placement="top"
            ngbTooltip="Dispatch Note"
          />
          <button class="icon-button" (click)="onEditDispatchNote(dispatchNote)" ngbTooltip="Edit" 
          placement="top" [disabled]="dispatchNote?.openFlag == 'Close'">
          <img
            src="assets/images/icons/editPencil.svg"
            alt="edit"
          />
        </button>
        </td>
      </tr>
      <tr *ngIf="dispatchNotes.length==0">
        <td align="center" colspan="13">No Result Found</td>
      </tr>
    </tbody>
  </table>
</div>
