<div class="custom-table">
  <table #table>
    <thead>
      <tr>
        <th>Vendor Name</th>
        <th>Invoice Date</th>
        <th>FY</th>
        <th>Due Date </th>
        <th>Credit Days </th>
        <th>Customer Name</th>
        <th>Description</th>
        <th>Title</th>
        <th>Application Number</th>
        <th>Client Ref No</th>
        <th>Official Filing Receipt Supporting</th>
        <th>Work Delivery Date / Month</th>
        <th>Total Amt</th>
        <th>Status</th>
        <!-- <th>Dispatch Note Status</th> -->
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (dispatchNote of dispatchNotes; track dispatchNote.id) {
      <tr>

        <td class="pointer" container="body">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{ dispatchNote?.vendorDetails.vendorName || '-' }}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>{{ dispatchNote?.creationDate | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{ dispatchNote?.createdByDetails?.name }}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{ dispatchNote?.lastUpdateOn | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{ dispatchNote?.lastUpdatedByDetails?.name }}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{ dispatchNote?.invoiceDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ dispatchNote?.fy || '-' }}</td>
        <td>{{ dispatchNote?.dueDateAsPerInvoice | date:'yyyy-MM-dd'}}</td>
        <td>{{ dispatchNote?.creditDaysAsPerContract || '-' }}</td>
        <td>{{ dispatchNote?.customerDetials.customerName || '-' }}</td>
        <td>{{ dispatchNote?.description || '-' }}</td>
        <td>{{ dispatchNote?.title || '-' }}</td>
        <td>{{ dispatchNote?.applicationNumber || '-' }}</td>
        <td>{{ dispatchNote?.clientRefNo || '-' }}</td>
        <td>{{ dispatchNote?.officialFilingReceiptSupporting || '-' }}</td>
        <td>{{ dispatchNote?.workDeliveryDateOrMonth | date:'yyyy-MM-dd'}}</td>
        <td>{{ dispatchNote?.totalAmt || '-' }}</td>
        <td>{{ dispatchNote?.status || '-' }}</td>


        <td class="text-center">
          <img src="assets/images/icons/link.svg" alt="link" class="me-2 pointer"
            (click)="onPreviewDispatchNote(dispatchNote)" placement="top" ngbTooltip="Vendor Invoice" />
          <button class="icon-button" (click)="onEditDispatchNote(dispatchNote)"
            [disabled]="dispatchNote?.openFlag == 'Close'" ngbTooltip="Edit" placement="top">
            <!-- <img src="assets/images/icons/editPencil.svg" alt="edit" /> -->
            <img src="assets/images/icons/editPencil.svg" alt="edit" class="pointer" (click)="onEditDispatchNote(dispatchNote)" />
          </button>
        </td>
      </tr>
      }
      @empty {
      }

      <tr *ngIf="dispatchNotes.length==0">
        <td align="center" colspan="13">No Result Found</td>
      </tr>
    </tbody>
  </table>
</div>