<div class="custom-table">
  <table #table>
    <thead>
      <tr>
        <th>Vendor Name</th>
        <th>Invoice Date</th>
        <th>FY</th>
        <th>DueDateAsPerInvoice</th>
        <th>CreditDaysAsPerContract</th>
        <th>Customer Name</th>
        <th>Description</th>
        <th>Title</th>
        <th>ApplicationNumber</th>
        <th>ClientRefNo</th>
        <th>OfficialFilingReceiptSupporting</th>
        <th>WorkDeliveryDateOrMonth</th>
        <th>ProfessionalFeeAmt</th>
        <th>GovtOrOfficialFeeAmt</th>
        <th>OtherChargesAmt</th>
        <th>DiscountAmt</th>
        <th>DiscountCreditNoteAmt</th>
        <th>TotalAmt</th>
        <th>POValueInclusiveTaxes</th>
        <th>OurInvoiceNo</th>
        <th>CurrencySID</th>
        <th>CurrencySID</th>
        <th>InvoiceAmt</th>
        <th>Remarks</th>
        <th>PostedInTally</th>
        <th>Status</th>
        <!-- <th>Dispatch Note Status</th> -->
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (dispatchNote of dispatchNotes; track dispatchNote.id) {
      <tr>
        <td>{{ dispatchNote?.id || '-' }}</td>

        <td class="pointer" container="body">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{ dispatchNote?.Id || '-' }}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>{{ dispatchNote?.creationDate | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{ dispatchNote?.createdByDetails?.name }}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{ dispatchNote?.lastUpdateOn | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{ dispatchNote?.lastUpdatedByDetails?.name }}</span>
              </div>
            </div>
          </ng-template>
        </td>

        <td>{{ dispatchNote?.vendorID || '-' }}</td>
        <td>{{ dispatchNote?.invoiceDate }}</td>
        <td>{{ dispatchNote?.fy || '-' }}</td>
        <td>{{ dispatchNote?.clientInvoiceNo || '-' }}</td>
        <td>{{ dispatchNote?.dueDateAsPerInvoice || '-' }}</td>
        <td>{{ dispatchNote?.description || '-' }}</td>
        <td>{{ dispatchNote?.title || '-' }}</td>
        <td>{{ dispatchNote?.applicationNumber || '-' }}</td>
        <td>{{ dispatchNote?.fillingDate || '-' }}</td>
        <td>{{ dispatchNote?.ourRefNo || '-' }}</td>
        <td>{{ dispatchNote?.officialFilingReceiptSupporting || '-' }}</td>
        <td>{{ dispatchNote?.professionalFeeAmt || '-' }}</td>
        <td>{{ dispatchNote?.govtOrOfficialFeeAmt || '-' }}</td>
        <td>{{ dispatchNote?.otherChargesAmt || '-' }}</td>
        <td>{{ dispatchNote?.discountAmt || '-' }}</td>
        <td>{{ dispatchNote?.discountCreditNoteAmt || '-' }}</td>
        <td>{{ dispatchNote?.totalAmount || '-' }}</td>
        <td>{{ dispatchNote?.paymentDate || '-' }}</td>
        <td>{{ dispatchNote?.owrmNo1 || '-' }}</td>
        <td>{{ dispatchNote?.owrmNo2 || '-' }}</td>
        <td>{{ dispatchNote?.currency2 || '-' }}</td>
        <td>{{ dispatchNote?.paymentAmount || '-' }}</td>
        <td>{{ dispatchNote?.customerPONo || '-' }}</td>
        <td>{{ dispatchNote?.status || '-' }}</td>

        <td class="text-center">
          <img src="assets/images/icons/link.svg" alt="link" class="me-2 pointer"
            (click)="onPreviewDispatchNote(dispatchNote)" placement="top" ngbTooltip="Vendor Invoice" />
          <button class="icon-button" (click)="onEditDispatchNote(dispatchNote)"
            [disabled]="dispatchNote?.openFlag == 'Close'" ngbTooltip="Edit" placement="top">
            <img src="assets/images/icons/editPencil.svg" alt="edit" />
          </button>
        </td>
      </tr>
      }
      @empty {
      }

      <tr *ngIf="dispatchNotes.length==0">
        <td align="center" colspan="13">No Result Found</td>
      </tr>
    </tbody>
  </table>
</div>