<div class="custom-table">
    <table>
        <thead>
            <tr>
                <th>Bilti Number</th>
                <th>Vehicle Number</th>
                <th>Vehicle Size</th>
                <th>Freight Code</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Freight Amount</th>
                <th>FRLR Number</th>
                <th>Bilti Details</th>
                <th>Created By</th>
                <th>Created On</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td class="text-center">
                    <img src="assets/images/icons/link.svg" alt="link" class="me-2" (click)="onPreviewBilti()"
                        placement="top" ngbTooltip="Bilti Link" />
                </td>
                <td>Lorem Ipsum</td>
                <td>Lorem Ipsum</td>
                <td class="text-center">
                    <img src="assets/images/icons/link.svg" alt="link" class="me-2" (click)="onPreviewBilti()"
                        placement="top" ngbTooltip="Bilti Link" />
                    <img src="assets/images/icons/editPencil.svg" alt="edit" (click)="onEditBilti()" />
                </td>
            </tr>
        </tbody>
    </table>
</div>