<div class="custom-table">
    <table>
        <thead>
            <tr>
                <th>Bilti No.</th>
                <th>Vehicle No.</th>
                <th>Vehicle Size</th>
                <th>Freight Code</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Freight Amount</th>
                <th>FRLR#</th>
                <th>Loading Location</th>
                <th class="text-center">Bilti Details</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="pointer" container="body">
                    <span
                      placement="end"
                      tooltipClass="table-datetime-popover"
                      [ngbTooltip]="tipContent"
                    >
                      <u>BILNHA0001</u>
                    </span>
                    <ng-template #tipContent>
                      <div class="">
                        <div class="content-row">
                          <span>Created On</span>
                          <span>01/01/2024</span>
                        </div>
                        <div class="content-row">
                          <span>Created By</span>
                          <span>IL0001</span>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                <td>HR38E1112</td>
                <td>17</td>
                <td>SUR_NOI_0001</td>
                <td>Surajpur</td>
                <td>Noida Phase II</td>
                <td>600</td>
                <td>FRLR1</td>
                <td>19</td>
                <td class="text-center">
                    <img src="assets/images/icons/link.svg" alt="link" class="me-2 pointer" (click)="onPreviewBilti()"
                        placement="top" ngbTooltip="Bilti Link" />
                </td>
                <td class="text-center">
                    <img src="assets/images/icons/editPencil.svg" alt="edit" class="pointer" (click)="onEditBilti()" />
                </td>
            </tr>
        </tbody>
    </table>
</div>