<div class="page-title">
  <h1>Part Master</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onCreatePart()">Create Part</button>
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    <div container="body">
      <img src="assets/images/icons/fullScreen.svg" alt="" class="pointer" width="14px"
        (click)="fullScreen = !fullScreen" placement="start" [ngbTooltip]="tipContent" />
      <ng-template #tipContent> Full Screen </ng-template>
    </div>
  </div>
</div>

<div class="filter-section">
  <app-part-filters (partFilterObj)="searchPart($event)"></app-part-filters>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters, fullScreen : fullScreen}">
  <img *ngIf="fullScreen" src="assets/images/icons/fullScreenCollapse.svg" alt="" class="me-3 pointer float-end"
    width="14px" (click)="fullScreen = !fullScreen" />
  <app-part-grid-table [searchedPart]="searchedPart"></app-part-grid-table>
</div>