<div class="page-title">
  <h1>Part Master</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onCreatePart()">Create Part</button>
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
  </div>
</div>

<div class="filter-section">
  <app-part-filters (partFilterObj)="searchPart($event)"></app-part-filters>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters}">
  <app-part-grid-table [searchedPart]="searchedPart"></app-part-grid-table>
</div>