<div class="page-title">
    <h1>Edit Part Master</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr">Save</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
</div>

<div class="content-section p-3">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Number</label>
                <div class="input-with-icon">
                    <input type="text" class="input-field" type="text">
                    <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Name</label>
                <div class="input-with-icon">
                    <input type="text" class="input-field" type="text">
                    <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Description</label>
                <input type="text" class="input-field" type="text">
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Size</label>
                <input type="text" class="input-field" type="text">
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Part Price</label>
                <input type="text" class="input-field" type="text">
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
                <label for="">Status</label>
                <select name="" id="">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
                <label for="">Remarks</label>
                <input type="text" class="input-field" type="text">
            </div>
        </div>
    </div>
</div>