<div class="page-title">
    <h1>Bilti Bill Process</h1>
</div>
<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
    <app-bilti-bill-process-filter (filterSearchObj)="filteredData($event)"></app-bilti-bill-process-filter>
  </div>
  
  <div class="content-section" [ngClass]="{'isFilters': isFilters}">
    <app-bilti-bill-process-grid-table [biltiBillProcess]="biltiBillProcess" (refreshList)="getAllBiltiProcess()"></app-bilti-bill-process-grid-table>
  </div>
  <div class="spinner" *ngIf="loadSpinner">
    Loading...
  </div>