<div class="filters-box">
    <div class="row">
        <div class="col" *ngIf="locations && locations.length>1">
            <div class="">
                <label for="">Location Code</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="">Transporter Code</label>
                <ng-select class="input-field" [(ngModel)]="transCode" placeholder="Select Transporter Number">
                    <ng-option *ngFor="let transporter of transportersList" [value]="transporter.transporterCode">{{transporter.transporterCode}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="">Transporter Name</label>
                <ng-select class="input-field" [(ngModel)]="transName" placeholder="Select Transporter Name">
                    <ng-option *ngFor="let transporter of transportersList" [value]="transporter.transporterName">{{transporter.transporterName}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label>City</label>
                <ng-select class="input-field" [(ngModel)]="cityCode" placeholder="Select City" >
                    <ng-option *ngFor="let city of cities"
                        [value]="city.code">{{city.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label>State</label>
                <ng-select class="input-field" [(ngModel)]="stateCode"
                    placeholder="Select State">
                    <ng-option *ngFor="let state of states"
                        [value]="state.code">{{state.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label>Taxation Type</label>
                <input type="text" placeholder="Enter taxation Type" [(ngModel)]="taxationType" class="input-field">
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters" style="padding:4px 10px" (click)="onTransporterSearch()"
                    [disabled]="!locationIds && !transCode && !transName && !cityCode && !stateCode && !taxationType">Search</button>
                <button class="custom-button-filters ms-2" style="padding:4px 10px" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>