
<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Bilti Date</th>
        <th>Bill Bill Process Date</th>
        <th>Bilti No.</th>
        <th>FRLR Number</th>
        <th>Transporter Name</th>
        <th>Vehicle No.</th>
        <th>Freight Amount</th>
        <th>Paid By Amount</th>
        <th>Debit Amount</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let biltiProcess of biltiBillProcess">
          <td class="pointer" container="body">
            <span
              placement="end"
              tooltipClass="table-datetime-popover"
              [ngbTooltip]="tipContent"
            >
              <u>{{biltiProcess.creationDate}}</u>
            </span>
            <ng-template #tipContent>
              <div class="">
                <div class="content-row">
                  <span>Created On</span>
                  <span>01/01/2024</span>
                </div>
                <div class="content-row">
                  <span>Created By</span>
                  <span>IL0001</span>
                </div>
              </div>
            </ng-template>
          </td>
          <td>{{biltiProcess.biltiBillProcessModel?.biltiBillProcessDate}}</td>
          <td>{{biltiProcess.biltiNumber}}</td>
          <td>{{biltiProcess.frlrNumber}}</td>
          <td>{{biltiProcess.transporterModel?.transporterName}}</td>
          <td>{{biltiProcess.vehicles?.vehicleNumber}}</td>
          <td>{{biltiProcess.freights?.freightAmount}}</td>
          <td>{{biltiProcess.biltiBillProcessModel?.paidByAmount}}</td>
          <td>{{biltiProcess.biltiBillProcessModel?.debitAmount}}</td>
          <td class="text-center">
            <img
              src="assets/images/icons/more.svg"
              class="me-3 pointer"
              alt="edit"
              [ngbPopover]="popContent"
              [autoClose]="'outside'"
              triggers="manual"
              #p="ngbPopover"
              (click)="p.open()"
            />
            <img
              src="assets/images/icons/editPencil.svg"
              alt="edit"
              (click)="onEditBilti()"
            />
            <ng-template #popContent>
              <div class="popover-list">
                <ul>
                  <li (click)="onOpenProcessModal(biltiProcess); p.close()">Bilti Bill Process Details</li>
                  <li (click)="onOpenDebitNoteModal(biltiProcess); p.close()">Debit Note Details</li>
                </ul>
              </div>
            </ng-template>
          </td>
        </tr> 
        <tr *ngIf="biltiBillProcess.length == 0">
          <td align="center" colspan="13">No Bilti Bill Process Found</td>
        </tr>
    </tbody>
  </table>
</div>
