<div class="page-title">
  <h1>Vehicle Master</h1>
  <div class="action-buttons">
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    <button class="custom-button-regulr" (click)="onCreateVehicle()">Create Vehicle</button>
    <div container="body">
      <img
        src="assets/images/icons/fullScreen.svg"
        alt=""
        class="pointer"
        width="14px"
        (click)="fullScreen = !fullScreen"
        placement="start"
        [ngbTooltip]="tipContent"
      />
      <ng-template #tipContent> Full Screen </ng-template>
    </div>
  </div>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-vehicle-filters (vehicleFilterData)="searchVehicle($event)"></app-vehicle-filters>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters, fullScreen : fullScreen}">
  <img
      *ngIf="fullScreen"
      src="assets/images/icons/fullScreenCollapse.svg"
      alt=""
      class="me-3 pointer float-end"
      width="14px"
      (click)="fullScreen = !fullScreen"
    />
  <app-vehicle-grid-table [searchedVehicle]="searchedVehicle"></app-vehicle-grid-table>
</div>