<div class="page-title">
  <h1>Vehicle Master</h1>
  <div class="action-buttons">

    <button class="custom-button-regulr" (click)="onCreateVehicle()">Create Vehicle</button>
  </div>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-vehicle-filters (vehicleFilterData)="searchVehicle($event)"></app-vehicle-filters>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters}">
  <app-vehicle-grid-table  [searchedVehicle]="searchedVehicle"></app-vehicle-grid-table>
</div>