<div class="page-title">
  <h1>Vehicle Master</h1>
  <div class="action-buttons">
    <div class="search-field">
      <input type="text" placeholder="Search Vehicle" />
      <span
        ><img src="assets/images/icons/search.svg" alt="search"
      /></span>
    </div>
    <button class="export-with-icon custom-button-export">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export
    </button>

    <button class="custom-button-regulr" (click)="onCreateVehicle()">Create Vehicle</button>
  </div>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-vehicle-filters></app-vehicle-filters>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters}">
  <app-vehicle-grid-table></app-vehicle-grid-table>
</div>