<div id="exportableTable">
  <div class="custom-table">
    <table #table [ngClass]="sortDirection === 'asc' ?  'asc' : 'dsc'">
      <thead>
        <tr>
          <th (click)="sortData('bankName')">Bank Name</th>
          <th (click)="sortData('bankAddress1')">Bank Address1</th>
          <th (click)="sortData('bankAddress2')">Bank Address2 </th>
          <th (click)="sortData('city')">City</th>
          <th (click)="sortData('state')">State </th>
          <th (click)="sortData('country')">Country</th>
          <th (click)="sortData('bankContactNo')">Account Number</th>
          <th (click)="sortData('bankEmailId')">Email</th>
          <th (click)="sortData('bankBranch')">Branch</th>
          <th (click)="sortData('ifscCode')">IFSC Code</th>
          <th (click)="sortData('accountNumber')">Ac Number</th>
          <th (click)="sortData('accountType')">Type</th>
          <th (click)="sortData('accountHolderName')">Holder Name</th>
          <th (click)="sortData('status')">Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        @for (transaction of transactionTypesList; track transaction.id) {
        <tr>
          <td class="pointer" container="body">
            <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
              <u>{{transaction.bankName}}</u>
            </span>
            <ng-template #tipContent>
              <div class="">
                <div class="content-row">
                  <span>Creation Date</span>
                  <span>{{transaction.creationDate | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="content-row">
                  <span>Created By</span>
                  <span>{{ transaction?.createdByDetails?.name }}</span>
                </div>
                <div class="content-row">
                  <span>Last Update Date</span>
                  <span>{{transaction.lastUpdateOn | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="content-row">
                  <span>Last Updated By</span>
                  <span>{{transaction?.lastUpdatedByDetails?.name}}</span>
                </div>
              </div>
            </ng-template>
          </td>
          <td>{{transaction.bankAddress1}}</td>
          <td>{{transaction.bankAddress2}}</td>
          <td>{{transaction.city}}</td>
          <td>{{transaction.state}}</td>
          <td>{{transaction.country}}</td>
          <td>{{transaction.bankContactNo}}</td>
          <td>{{transaction.bankEmailId}}</td>
          <td>{{transaction.bankBranch}}</td>
          <td>{{transaction.ifscCode}}</td>
          <td>{{transaction.accountNumber}}</td>
          <td>{{transaction.accountType}}</td>
          <td>{{transaction.accountHolderName}}</td>
          <td>{{transaction.status}}</td>
          <td class="text-center">
            <img src="assets/images/icons/editPencil.svg" alt="edit" class="pointer"
              (click)="onGoToEditTransaction(transaction)" />
          </td>
        </tr>
        }@empty {
        <tr>
          <td align="center" colspan="13">No Bank Found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
