<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Transaction Type Name</th>
        <th>Transaction Code</th>
        <th>GL Sub Category Code</th>
        <th>Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (transaction of transactionTypesList; track transaction.id) {
      <tr>
        <td class="pointer" container="body">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{transaction.name}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Creation Date</span>
                <span>{{transaction.createdOn}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{transaction.createdBy}}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{transaction.modifiedOn}}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{transaction.modifiedBy}}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{transaction.code}}</td>
        <td>{{transaction.glSubCategory.value}}</td>
        <td>{{transaction.status}}</td>
        <td class="text-center">
          <img src="assets/images/icons/editPencil.svg" alt="edit" class="pointer" (click)="onGoToEditTransaction(transaction)" />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Transaction Code Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>

<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>