<div class="page-title">
  <h1>Advice Master</h1>
  <div class="action-buttons">
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    <div class="search-field">
      <input type="text" placeholder="Search Advice Type" (input)="onSearch($event)" />
      <span><img src="assets/images/icons/search.svg" alt="search" /></span>
    </div>
    <button class="custom-button-regulr" (click)="onCreateAdvice()">Create Advice</button>
  </div>
</div>

<div class="filter-section" [ngClass]="{ 'd-none': !isFilters }">
  <app-filter></app-filter>
</div>

<div class="content-section" [ngClass]="{ isFilters: isFilters }">
  <app-advice-grid-table [filterKeyword]="filterKeyword"></app-advice-grid-table>
</div>