<div class="custom-table">
  <table #table [ngClass]="sortDirection === 'asc' ?  'asc' : 'dsc'">
    <thead>
      <tr>
        <th (click)="sortData('freightCode')">Freight Code</th>
        <th (click)="sortData('locations.value')">Location Code</th>
        <th (click)="sortData('source.value')">Source</th>
        <th (click)="sortData('destination.value')">Destination</th>
        <th (click)="sortData('vehicleSize.value')">Vehicle Size</th>
        <th (click)="sortData('freightAmount')">Previous Freight Amount</th>
        <th (click)="sortData('freightAmount')">Previous Freight Time</th>
        <th (click)="sortData('freightAmount')">Freight Amount</th>
        <th (click)="sortData('remarks')">Remarks</th>
        <th (click)="sortData('materialRemarks')">Material Remarks</th>
        <th (click)="sortData('accountsRemarks')">Account Remarks</th>
        <th (click)="sortData('status')">Status</th>
        <th class="text-center">Time Stamp Attchment</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (freight of freightList; track freight.id) {
      <tr>
        <td class="pointer" container="body">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{freight?.freightCode || '-' }}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Creation Date</span>
                <span>{{freight.creationDate | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{freight?.createdByDetails?.name }}</span>
              </div>
              <div class="content-row">
                <span>Last Update Date</span>
                <span>{{freight.lastUpdateOn | date: 'yyyy-MM-dd' || '-' }}</span>
              </div>
              <div class="content-row">
                <span>Last Updated By</span>
                <span>{{freight?.lastUpdatedByDetails?.name}}</span>
              </div>
              <div class="content-row">
                <span>Approved by Material</span>
                <span>{{freight.approvedByMaterial || '-' }}</span>
              </div>
              <div class="content-row">
                <span>Approved by Material On</span>
                <span>{{freight.approvedByMaterialOn || '-' | date: 'yyyy-MM-dd' }}</span>
              </div>
              <div class="content-row">
                <span>Approved by Accounts</span>
                <span>{{freight.approvedByAccounts || '-' }}</span>
              </div>
              <div class="content-row">
                <span>Approved by Accounts On</span>
                <span>{{freight.approvedByAccountsOn || '-' | date: 'yyyy-MM-dd' }}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{freight?.locations?.value || '-' }}</td>
        <td>{{freight?.source?.value || '-' }}</td>
        <td>{{freight?.destination?.value || '-' }}</td>
        <td>{{freight?.vehicleSize?.value || '-' }}</td>
        <td class="pointer">
          <span placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>{{freight?.historyFreightAmount || '-' }}</u>
          </span>
        </td>
        <td>{{freight?.historyFreightTime || '-' }}</td>
        <td>{{freight?.freightAmount || '-' }}</td>
        <td>{{freight?.remarks || '-' }}</td>
        <td>{{freight?.materialRemarks || '-'}}</td>
        <td>{{freight?.accountsRemarks || '-'}}</td>
        <td>{{freight?.status}}</td>
        <div class="d-flex justify-content-center">
          <button class="icon-button mt-2"
          (click)="openPDF(freight.fileData, freight.fileName)" ngbTooltip="Time Stamp Attachment" placement="top">
          <div class="img-container">
            <img src="assets/images/icons/link.svg" alt="link" class="me-2 pointer" />
          </div>
        </button>
        </div>
        <td class="text-center">
          <img src="assets/images/icons/editPencil.svg" class="pointer" alt="edit"
            (click)="onGoToEditFreight(freight)" />
        </td>
      </tr>
      }@empty {
      <tr>
        <td align="center" colspan="13">No Freight Code Found</td>
      </tr>
      }
    </tbody>
  </table>
</div>