<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Freight Code</th>
        <th>Location Code</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Vehicle Size</th>
        <th>Freight Amount</th>
        <th>Remarks</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (freight of freightList; track freight.id) {
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>{{freight.freightCode}}</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>{{freight.createdOn}}</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>{{freight.createdBy }}</span>
              </div>
              <div class="content-row">
                <span>Modified On</span>
                <span>{{freight.modifiedOn }}</span>
              </div>
              <div class="content-row">
                <span>Modified By</span>
                <span>{{freight.modifiedBy }}</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>{{freight.locationCode}}</td>
        <td>{{freight.source}}</td>
        <td>{{freight.destination}}</td>
        <td>{{freight.vehicleSize}}</td>
        <td>{{freight.freightAmount}}</td>
        <td>{{freight.remarks}}</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            class="pointer"
            alt="edit" 
            (click)="onGoToEditFreight(freight)"
          />
        </td>
      </tr>
    }@empty {
      <tr>
        <td align="center" colspan="13">No Freight Code Found</td>
      </tr>
    }
    </tbody>
  </table>
</div>

<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>