<div class="custom-table">
    <table>
      <thead>
        <tr>
          <th>Freight Code</th>
          <th>Location Code</th>
          <th>Source</th>
          <th>Destination</th>
          <th>Vehicle Size</th>
          <th>Freight Amount</th>
          <th>Remarks</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td>Lorem Ipsum</td>
          <td class="text-center">
              <img src="assets/images/icons/editPencil.svg" alt="edit" (click)="onEditFreight()">
          </td>
        </tr>
    </table>
  </div>