<div class="page-title">
  <h1>Transporter Master</h1>
  <div class="action-buttons">
    <button class="custom-button-export" (click)="exportData('Transporters')">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    </div>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-transporter-filter (transFilterObj)="searchTransporter($event)"></app-transporter-filter>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters}">
  <app-transporter-grid-table [searchedTransporter]="searchedTransporter"></app-transporter-grid-table>
</div>