<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Freight Code</label>
                <ng-select class="input-field" [(ngModel)]="freightCode" placeholder="Select Freight">
                    <ng-option *ngFor="let freight of freightList" [value]="freight.freightCode">{{freight.freightCode}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Source</label>
                <ng-select class="input-field" [(ngModel)]="source" placeholder="Select Source">
                    <ng-option *ngFor="let freight of freightList" [value]="freight.source">{{freight.source}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Vehicle Size</label>
                <ng-select class="input-field" [(ngModel)]="vehicleSize" placeholder="Select Vehicle Size">
                    <ng-option *ngFor="let freight of freightList" [value]="freight.vehicleSize">{{freight.vehicleSize}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters me-2" (click)="onClearFilter()" [disabled]="!freightCode && !source && !vehicleSize">Clear</button>
                <button class="custom-button-filters" (click)="onFreightSearch()" [disabled]="!freightCode && !source && !vehicleSize">Search</button>
            </div>
        </div>
    </div>
</div>