<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Freight Code</label>
                <div class="input-with-icon">
                    <input type="text" class="input-field" value="F00020" />
                    <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div> 
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Source</label>
                <div class="input-with-icon">
                    <input type="text" class="input-field" value="Surajpur" />
                    <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Vehicle Size</label>
                <input type="text" class="input-field" value="10" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters">Search</button>
            </div>
        </div>
    </div>
</div>