<div class="page-title">
    <h1>{{adviceId > 0 ? 'Edit Advice' : 'Create Advice'}} Master</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onPressSave()">Save</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
</div>

<div class="content-section p-3">
    <form [formGroup]="adviceForm">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <!-- <div class="custom-form-input">
                    <label for="">Location Code</label>
                    <div class="input-with-icon">
                        <input type="text" class="input-field" *ngIf="adviceId > 0" [value]="locationCode" readonly />
                        <input type="text" class="input-field" *ngIf="adviceId == 0" value="HA" readonly />
                    </div>
                </div> -->
                <!-- <div class="custom-form-input">
                    
                    <label for="">Location Code <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" *ngIf="adviceId > 0" [value]="locationCode" readonly />
                    <ng-select name="" id="" *ngIf="adviceId == 0" formControlName="locationCode">
                      <ng-option *ngFor="let location of locationsDropdownData"
                        [value]="location.id">{{location.value}}</ng-option>
                    </ng-select>
                  </div> -->
                  <div class="custom-form-input">
                    <label for="">Location Code <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" *ngIf="adviceId > 0" [value]="locationCode" readonly #locationCodeInput />
                    <ng-select *ngIf="adviceId == 0" formControlName="locationCode">
                        <ng-option *ngFor="let location of locationsDropdownData" [value]="location.value">{{location.value}}</ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Advice Type <span class="text-danger">*</span></label>
                        <ng-select name="" id="" formControlName="adviceType">
                            <ng-option *ngFor="let advice of transactionTypesList"
                                [value]="{name: advice.name, id: advice.id}">{{advice.name}}</ng-option>
                        </ng-select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Batch Name</label>
                    <input type="text" class="input-field" formControlName="batchName"  readOnly />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Max Bilti No Limit <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="maxBiltiLimit" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Manual Allocation Req. <span class="text-danger">*</span></label>
                    <select name="" id="" formControlName="manualAllocReq">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2" *ngIf="adviceId > 0">
                <div class="custom-form-input">
                    <label for="">Status <span class="text-danger">*</span></label>
                    <select name="" id="" formControlName="status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>