<div class="page-title">
  <h1>Edit Transaction Type</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onPressSave()" [disabled]="!transactionTypeForm.valid">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="transactionTypeForm">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Transaction Type Name</label>
          <input type="text" class="input-field" formControlName="name" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Transaction Code</label>
          <input type="text" class="input-field" formControlName="code" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">GL Sub Category Code <span class="text-danger">*</span></label>
          <ng-select name="" id="" formControlName="glSubcategory">
            <ng-option *ngFor="let glSubCategory of glSubcategoryCode"
              [value]="glSubCategory.id">{{glSubCategory.value}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-3 col-md-2">
        <div class="custom-form-input">
          <label for="">Transaction Type Interface <span class="text-danger">*</span></label>
          <ng-select name="" id="" formControlName="transactionTypeInterface">
            <ng-option *ngFor="let transactionTypeInterface of transactionTypeInterfaceData"
              [value]="transactionTypeInterface.id">{{transactionTypeInterface.transactionTypeName}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Status <span class="text-danger">*</span></label>
          <select name="" id="" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>