<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Point Name</th>
        <th>Point Charge</th>
        <th>Same Location Charge</th>
        <th>Location Code</th>
        <th>Approved by Material</th>
        <th>Approved by Material On</th>
        <th>Approved by Accounts</th>
        <th>Approved by Accounts On</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pointer" container="body">
          <span
            placement="end"
            tooltipClass="table-datetime-popover"
            [ngbTooltip]="tipContent"
          >
            <u>Faridabad</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>01/01/2024</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>IL0001</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>500</td>
        <td>50</td>
        <td>NOIDA_LGIL_HA</td>
        <td>LC38383</td>
        <td>01/25/24</td>
        <td>AC2599</td>
        <td>01/25/24</td>
        <td class="text-center">
          <img
            src="assets/images/icons/editPencil.svg"
            alt="edit" class="pointer"
            (click)="onEditPointCharge()"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
