<div class="filters-box">
  <div class="row">
    <div class="col-lg-2" *ngIf="locations && locations.length>1">
      <div class="">
        <label for="">Location Code</label>
        <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true" placeholder="Select location">
          <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col">
      <div class="custom-form-input">
        <label for="">From Date</label>
        <div class="input-group datepicker">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="fromDt"
            [autoClose]="true"
            [(ngModel)]="fromDate"
            [maxDate]="today"
            (dateSelect)="onDateSelect('fromDate', $event)"
            ngbDatepicker
            #fromDt="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="fromDt.toggle()"
            type="button"
          >
            <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="custom-form-input">
        <label for="">To Date</label>
        <div class="input-group datepicker">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="toDt"
            [autoClose]="true"
            [(ngModel)]="toDate"
            [maxDate]="today"
            (dateSelect)="onDateSelect('toDate', $event)"
            ngbDatepicker
            #toDt="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="toDt.toggle()"
            type="button"
          >
            <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="custom-form-input">
        <label for="">Batch Number</label>
         <ng-select class="input-field" placeholder="Select Batch Number" [(ngModel)]="batchNumber">
          <ng-option *ngFor="let source of filteredBiltibillList" [value]="source?.biltiBillProcessModel?.batchNumber">{{source?.biltiBillProcessModel?.batchNumber}}</ng-option>
        </ng-select>
      </div>
    </div>

    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="handleSearch()" [disabled]="!batchNumber && !fromDate && !toDate">
          Search
        </button>
      </div>
    </div>
    <div class="col-auto">
      <div class="custom-form-input">
        <label for="" class="d-block">&nbsp;</label>
        <button class="custom-button-filters" (click)="onClearFilter()" [disabled]="!batchNumber && !fromDate && !toDate">
          Clear
        </button>
      </div>
    </div>
  </div>
</div>
