<div class="filters-box">
    <div class="row">
      <div class="col-lg-2">
        <div class="custom-form-input">
          <label for="">From Date</label>
          <div class="input-with-icon">
            <input type="text" class="input-field" value="01/20/2024"/>
            <img
              src="assets/images/icons/calendar.svg"
              width="12px"
              class="search-icon"
              alt="Search"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="custom-form-input">
          <label for="">To Date</label>
          <div class="input-with-icon">
            <input type="text" class="input-field" value="01/30/2024"/>
            <img
              src="assets/images/icons/calendar.svg"
              width="12px"
              class="search-icon"
              alt="Search"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="custom-form-input">
          <label for="">Batch Number</label>
          <div class="input-with-icon">
            <input type="text" class="input-field" />
            <img
              src="assets/images/icons/search.svg"
              width="12px"
              class="search-icon"
              alt="Search"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="custom-form-input">
          <label for="">Bilti Number</label>
          <div class="input-with-icon">
            <input type="text" class="input-field" value="BILNHA0001"/>
            <img
              src="assets/images/icons/search.svg"
              width="12px"
              class="search-icon"
              alt="Search"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="custom-form-input">
          <label for="" class="d-block">&nbsp;</label>
          <button class="custom-button-filters">Search</button>
        </div>
      </div>
    </div>
  </div>
  