<div class="common-modal">
    <div class="ngmodal-header">
        <h3>
            Dispatch Notes
            <span class="float-right" (click)="activeModal.dismiss('Cross click')">
                <img src="assets/images/icons/close.svg" alt="" />
            </span>
        </h3>
    </div>
    <div class="row d-flex mb-2">
        <div class="col-3">
            <div class="custom-form-input">
                <label for="">Dispatch Number</label>
                <ng-select class="input-field" [(ngModel)]="dispatchNumber" placeholder="Select Dispatch No">
                    <ng-option *ngFor="let dispatch of filters?.DispatchNumber"
                        [value]="dispatch">{{dispatch}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="getDispatchData()">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex justify-content-end">
                <button class="custom-button-regulr" (click)="onSavePress()">Add</button>
            </div>
        </div>
    </div>
    <div class="custom-table">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Dispatch Number</th>
                    <th>Supplier Code</th>
                    <th>Supplier Name</th>
                    <th>Vehicle Number</th>
                    <th>Vehicle Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rbData of dispatchNotes">
                    <td><input type="checkbox" [(ngModel)]="rbData.selected" /></td>
                    <td>{{rbData?.dispatchNumber}}</td>
                    <td>{{rbData?.suppliers?.vendorCode}}</td>
                    <td>{{rbData?.suppliers?.vendorName}}</td>
                    <td>{{rbData?.vehicles?.vehicleNumber}}</td>
                    <td>{{rbData?.vehicles?.vehicleSize?.value}}</td>
                </tr>
                <tr *ngIf="dispatchNotes.length == 0">
                    <td align="center" colspan="13">No Result Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>