<div class="common-modal">
    <div class="ngmodal-header">
        <h3>
            Dispatch Notes
            <span class="float-right" (click)="activeModal.dismiss('Cross click')">
                <img src="assets/images/icons/close.svg" alt="" />
            </span>
        </h3>
    </div>
    <div class="d-flex justify-content-end mb-2">
        <button class="ms-auto custom-button-regulr" (click)="onSavePress()">Save</button>
    </div>
    <div class="custom-table">
        <table>
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Dispatch Number</th>
                    <th>Supplier Code</th>
                    <th>Supplier Name</th>
                    <th>Vehicle Number</th>
                    <th>Vehicle Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rbData of dispatchNotes">
                    <td><input type="checkbox" [(ngModel)]="rbData.selected" /></td> 
                    <td>{{rbData?.dispatchNumber}}</td>
                    <td>{{rbData?.suppliers?.vendorCode}}</td>
                    <td>{{rbData?.suppliers?.vendorName}}</td>
                    <td>{{rbData?.vehicles?.vehicleNumber}}</td>
                    <td>{{rbData?.vehicles?.vehicleSize?.value}}</td>
                </tr>
                <tr *ngIf="dispatchNotes.length == 0">
                    <td align="center" colspan="13">No Result Found</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
