<div class="page-title">
  <h1>Edit Transporter</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onSavePress()">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="transporterForm">
  <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Transporter Code</label>
              <div class="input-with-icon">
                <input type="text" class="input-field" formControlName="transporterCode"/>
                <img src="assets/images/icons/search.svg" class="search-icon" alt="Search" >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Transporter Name</label>
              <input type="text" class="input-field" formControlName="transporterName" readonly/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Owner Name</label>
              <input type="text" class="input-field" formControlName="ownerName"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Contact Person</label>
              <input type="text" class="input-field" formControlName="contactPerson"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Contact Number</label>
              <input type="text" class="input-field" formControlName="contactNumber"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">PAN Number</label>
              <input type="text" class="input-field" formControlName="pan" readonly/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">GSTIN</label>
              <input type="text" class="input-field" formControlName="gst" readonly/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Auto Bilti Required</label>
              <select formControlName="autoBiltiReq">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">RCM/Non-RCM</label>
              <select formControlName="rcmNonRcm">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Auto Bilti Starting Char.</label>
              <input type="text" class="input-field" formControlName="autoBiltiCharactor"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Regd. Details</label>
              <input type="text" class="input-field" formControlName="regdDetails"/>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Mode of Transport</label>
              <select formControlName="modeOfTransport">
                <option value="NHA">NHA</option>
                <option value="Truck">Truck</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Location Code</label>
              <div class="input-with-icon">
                <input type="text" class="input-field" formControlName="locationCode"/>
                <img src="assets/images/icons/search.svg" class="search-icon" alt="Search" >
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="custom-form-input">
              <label for="">Status</label>
              <select formControlName="status">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Address 1</label>
              <input type="text" class="input-field" formControlName="address1" readonly/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Address 2</label>
              <input type="text" class="input-field" formControlName="address2"/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Consigner Contact Information</label>
              <input type="text" class="input-field" formControlName="consignorContactInfo"/>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Consigner Name</label>
              <input type="text" class="input-field" formControlName="consignorName" readonly/> 
            </div>
          </div>
    
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Bilti Header Comments</label>
              <textarea class="input-field" formControlName="biltiHeaderComment"></textarea>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Notes</label>
              <textarea class="input-field" formControlName="note"></textarea>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <div class="custom-form-input">
              <label for="">Footer</label>
              <textarea class="input-field" formControlName="footer"></textarea>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
</div>
