<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Advice Name</label>
                <ng-select class="input-field" [(ngModel)]="adviceType" placeholder="Select advice">
                    <ng-option *ngFor="let advice of advicesList" [value]="advice.adviceType">{{advice.adviceType}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters" (click)="onAdviceSearch()" [disabled]="!adviceType">Search</button>
                <button class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>