<div class="filters-box">
    <div class="row">
        <div class="col-lg-2" *ngIf="locations && locations.length>1">
            <div class="">
                <label for="">Customer Type</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Customer Code</label>
                <ng-select class="input-field" [(ngModel)]="customerNum" placeholder="Select Code">
                    <ng-option *ngFor="let customer of filters?.CustomerCode" [value]="customer">{{customer}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Customer Name</label>
                <ng-select class="input-field" [(ngModel)]="customerName" placeholder="Select Name">
                    <ng-option *ngFor="let customer of filters?.CustomerName" [value]="customer">{{customer}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>  
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters" (click)="onCustomerSearch()"
                [disabled]="!locationIds.length && !customerName && !customerNum && !status">Search</button>
                <button [disabled]="locationIds.length && !customerNum && !customerName  && !status" class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>