<div class="filters-box">
    <div class="row">
        
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Customer Code</label>
                <ng-select class="input-field" [(ngModel)]="customerCode" placeholder="Select Code">
                    <ng-option *ngFor="let customer of filters?.CustomerCode" [value]="customer">{{customer}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Customer Name</label>
                <ng-select class="input-field" [(ngModel)]="customerName" placeholder="Select Name">
                    <ng-option *ngFor="let customer of filters?.CustomerName" [value]="customer">{{customer}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>  
        <div class="col">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters me-2" 
                        (click)="onCustomerSearch()"
                        [disabled]="!customerCode && !customerName && !status" 
                        style="padding:4px 10px;">
                    Search
                </button>
                <button class="custom-button-filters" (click)="onCustomerSearch()"
                class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>