<div class="filters-box">
    <div class="row">
        <div class="col-lg-2" *ngIf="locations && locations.length>1">
            <div class="">
                <label for="">Location Code</label>
                <ng-select [searchable]="true" [(ngModel)]="locationIds" [multiple]="true"
                    placeholder="Select location">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Vehicle Number</label>
                <ng-select class="input-field" [(ngModel)]="vehicleNum"
                    placeholder="Select vehicle number" [readonly]="transporterNam">
                    <ng-option *ngFor="let vehicle of filters?.VehicleNumber"
                        [value]="vehicle">{{vehicle}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Vehicle Size</label>
                <ng-select class="input-field" [(ngModel)]="vehicleSize"
                    placeholder="Select vehicle size">
                    <ng-option *ngFor="let vehicleSize of filters?.VehicleSize"
                        [value]="vehicleSize">{{vehicleSize}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-4">
            <div class="custom-form-input">
                <label for="">Transporter Name</label>
                <ng-select class="input-field" [(ngModel)]="transporterNam"
                    placeholder="Select transporters" [readonly]="vehicleNum">
                    <ng-option *ngFor="let transporter of filters?.Transporter"
                        [value]="transporter">{{transporter}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>  
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="onVehicleSearch()"
                        [disabled]="!locationIds.length && !vehicleNum && !transporterNam && !vehicleSize && !status">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()"
                    [disabled]="locationIds.length && !vehicleNum && !transporterNam && !vehicleSize && !status"> Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>