<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Vehicle Number</label>
                <div class="input-with-icon">
                    <input type="text" class="input-field">
                    <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="">Transporter Name</label>
                <div class="input-with-icon">
                <input type="text" class="input-field">
                <img src="assets/images/icons/search.svg" class="search-icon" alt="Search">
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters">Search</button>
            </div>
        </div>
    </div>
</div>