.custom-form-input {
    position: relative;
}
.suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: var(--spacer-200);
    width: 100%;
}

.suggestion {
    padding: 8px 16px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f5faff;
}