<div class="page-title">
  <h1>Lookup Master</h1>
  <div class="action-buttons">
    <div class="search-field">
      <input type="text" placeholder="Search Code" (input)="onSearch($event)" />
      <span><img src="assets/images/icons/search.svg" alt="search" /></span>
    </div>
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>

    <button class="custom-button-regulr" (click)="onCreateLookup()">Create Lookup</button>
    <div container="body">
      <img
        src="assets/images/icons/fullScreen.svg"
        alt=""
        class="pointer"
        width="14px"
        (click)="fullScreen = !fullScreen"
        placement="start"
        [ngbTooltip]="tipContent"
      />
      <ng-template #tipContent> Full Screen </ng-template>
    </div>
  </div>
</div>

<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-lookup-filter></app-lookup-filter>
</div>

<div class="content-section" [ngClass]="{'isFilters': isFilters, fullScreen : fullScreen}">
  <img
      *ngIf="fullScreen"
      src="assets/images/icons/fullScreenCollapse.svg"
      alt=""
      class="me-3 pointer float-end"
      width="14px"
      (click)="fullScreen = !fullScreen"
    />
  <app-lookup-grid-table [filterKeyword]="filterKeyword" (dataChange)="onLookupListChange($event)" (headersChange)="onHeadersChange($event)"></app-lookup-grid-table>
</div>