<div id="approval-content" class="container-fluid">
  <div class="d-flex justify-content-end">
    <img id="download-button" class="me-3 pointer" src="assets/images/icons/download.svg" alt="Download PDF"
      (click)="downloadPDF()">
    <img id="icon-button" src="assets/images/icons/close.svg" alt="close" class="pointer" (click)="onClose()" />
  </div>
  <div class="row">
    <div class="approval-header">
      <div class="col-12">
        <p class="header">LG Electronics India Pvt Ltd.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="custom-table">
        <table border="1" cellspacing="0" cellpadding="5">
          <tr>
            <td>Supplier :</td>
            <td colspan="3">SURAJPUR TEMPO TRANSPORT ASSOCIATION</td>
          </tr>
          <tr>
            <td>Code :</td>
            <td colspan="3">IN030367 RCM</td>
          </tr>
          <tr>
            <td>Payment Advise No :</td>
            <td>RM SALES HA 689</td>
          </tr>
          <tr>
            <td>Payment Advise Date:</td>
            <td>07-Mar-2024 16:26:12</td>
          </tr>
          <tr>
            <td>Payment TTL(Grand TTL):</td>
            <td colspan="3">54206</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-6">
      <div class="custom-table">
        <table>
          <thead>
            <tr>
              <th colspan="2">Material</th>
              <th colspan="1">Accounts</th>
            </tr>
            <tr>
              <th>Checked By Material</th>
              <th>Approved By</th>
              <th>Approved By</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="custom-table mt-5">
    <table>
      <thead>
        <tr>
          <th colspan="2">Payment Advise No:</th>
          <th colspan="2">RM_SALES_HA_689</th>
          <th colspan="5">Additions</th>
          <th colspan = "4"></th>
        </tr>
        <tr>
          <th>No.</th>
          <th>Bilti No.</th>
          <th>Bilti Date</th>
          <th>Basic Freight Charges</th>
          <th>Point Charges</th>
          <th>Unloading Charges</th>
          <th>Detensio Charges</th>
          <th>Overload Charges</th>
          <th>Toll Tax</th>
          <th>Net Amt.</th>
          <th>SGST Amt.</th>
          <th>CGST Amt.</th>
          <th>IGST Amt.</th>
          <th>Debit Note Amt.</th>
          <th>Grand Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>0</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>0</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
