<div class="filters-box">
    <div class="row">
        <div class="col-lg-3" >
            <div class="custom-form-input">
                <label for="">Application Number</label>
                <ng-select class="input-field" [(ngModel)]="applicationNumber" placeholder="Select Invoice No">
                    <ng-option *ngFor="let appl of filters?.ApplicationNumber" [value]="appl">{{appl}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="">Client Inv Number</label>
                <ng-select class="input-field" [(ngModel)]="clientInvoiceNumber" placeholder="Select Invoice">
                    <ng-option *ngFor="let number of filters?.ClientInvoiceNo" [value]="number">{{number}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <!-- <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Dispatch Note Status</label>
                <ng-select class="input-field" [(ngModel)]="dispatchStatus" placeholder="Select Dispatch Note Status">
                    <ng-option *ngFor="let status of filters?.DispatchStatus" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div> -->
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="handleSearch()" [disabled]=" !dispatchNumber && !status && !frlrNo">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()" [disabled]=" !dispatchNumber && !frlrNo && !status && !dispatchStatus"> Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>