<div class="filters-box">
    <div class="row">
        <div class="col-lg-3" >
            <div class="">
                <label for="">Application Number</label>
                <ng-select [searchable]="true" [multiple]="true"
                    placeholder="Select vendor">
                    <ng-option *ngFor="let location of locations" [value]="location.id">{{location.value}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="">Client Inv Number</label>
                <ng-select class="input-field" [(ngModel)]="frlrNo" placeholder="Select Customer">
                    <ng-option *ngFor="let frlr of filters?.FrlrNumber" [value]="frlr">{{frlr}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field" [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.status" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div>
        <!-- <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Dispatch Note Status</label>
                <ng-select class="input-field" [(ngModel)]="dispatchStatus" placeholder="Select Dispatch Note Status">
                    <ng-option *ngFor="let status of filters?.DispatchStatus" [value]="status">{{status}}</ng-option>
                </ng-select>
            </div>
        </div> -->
        <div class="col-lg-2">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <div class="d-flex">
                    <button class="custom-button-filters" (click)="handleSearch()" [disabled]="locationIds.length==0 && !dispatchNumber && !status && !frlrNo">Search</button>
                    <button class="custom-button-filters ms-2" (click)="onClearFilter()" [disabled]="locationIds.length && !dispatchNumber && !frlrNo && !status && !dispatchStatus"> Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>