<div class="page-title">
  <h1>Freight Master</h1>
  <div class="action-buttons">
    <button class="custom-button-export" (click)="exportData()">
      <img src="assets/images/icons/excel.svg" alt="export" /> Export</button>
    <button class="custom-button-regulr" (click)="onCreateFreight()">Create Freight</button>
    <div container="body">
      <img
        src="assets/images/icons/fullScreen.svg"
        alt=""
        class="pointer"
        width="14px"
        (click)="fullScreen = !fullScreen"
        placement="start"
        [ngbTooltip]="tipContent"
      />
      <ng-template #tipContent> Full Screen </ng-template>
    </div>
  </div>
</div>
<div class="filter-section" [ngClass]="{'d-none': !isFilters}">
  <app-freight-filter [vehcileSizes]="vehcileSizes" [destinations]="destinations" [sources]="sources" [freightList]="freightList" (getData)="getData($event)"></app-freight-filter>
</div>
<div class="content-section" [ngClass]="{ isFilters: isFilters, fullScreen : fullScreen }">
  <img
      *ngIf="fullScreen"
      src="assets/images/icons/fullScreenCollapse.svg"
      alt=""
      class="me-3 pointer float-end"
      width="14px"
      (click)="fullScreen = !fullScreen"
    />
  <app-freight-grid-table [freightList]="freightList" (exportHeader)="onExportHeader($event)"></app-freight-grid-table>
</div>

<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>