<div class="custom-table">
  <table>
    <thead>
      <tr>
        <th>Freight Code</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Vehicle Size</th>
        <th>Freight Amount</th>
        <th>Remarks</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="pointer">
          <span container="body" placement="end" tooltipClass="table-datetime-popover" [ngbTooltip]="tipContent">
            <u>FR000038</u>
          </span>
          <ng-template #tipContent>
            <div class="">
              <div class="content-row">
                <span>Created On</span>
                <span>01/01/2024</span>
              </div>
              <div class="content-row">
                <span>Created By</span>
                <span>IL0001</span>
              </div>
            </div>
          </ng-template>
        </td>
        <td>Sultanpur</td>
        <td>Noida Phase II</td>
        <td>10</td>
        <td>1200</td>
        <td>-</td>
        <td class="text-center d-flex justify-content-center">
          <!-- Approve Button -->
          <button type="button" class="custom-button-secondary-small me-2" [ngbPopover]="approvePopContent"
            [popoverTitle]="popTitle" [autoClose]="'outside'" triggers="manual" placement="left"
            #approvePopover="ngbPopover" (click)="approvePopover.open()">
            Approve
          </button>
          <!-- Reject Button -->
          <button type="button" class="custom-button-regulr-small" [ngbPopover]="rejectPopContent"
            [popoverTitle]="popTitle" [autoClose]="'outside'" triggers="manual" placement="left"
            #rejectPopover="ngbPopover" (click)="rejectPopover.open()">
            Reject
          </button>

          <!-- Approve Popover Content -->
          <ng-template #approvePopContent>
            <div class="custom-form-input">
              <textarea name="" id="" rows="3" class="input-field"></textarea>
            </div>
            <button class="custom-button-secondary" (click)="approvePopover.close()">
              Confirm Approve
            </button>
          </ng-template>

          <!-- Reject Popover Content -->
          <ng-template #rejectPopContent>
            <div class="custom-form-input">
              <textarea name="" id="" rows="3" class="input-field"></textarea>
            </div>
            <button class="custom-button-regulr" (click)="rejectPopover.close()">
              Confirm Reject
            </button>
          </ng-template>
          <ng-template #popTitle>Remarks</ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>