<div id="exportableTable">
  <div class="custom-table">
    <table>
      <thead>
        <tr>
          <th>Plant Code</th>
          <th>Plant Name</th>
          <th>Address</th>
          <th>State</th>
          <th>City</th>
          <th>PAN</th>
          <th>GSTIN</th>
          <th>Site Code</th>
          <th>Location Code</th>
          <th>DSC</th>
          <th>DCP</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (plant of plantsList; track plant.id) {
        <tr>
          <td class="pointer" container="body">
            <span
              placement="end"
              tooltipClass="table-datetime-popover"
              [ngbTooltip]="tipContent"
            >
              <u>{{ plant.plantCode }}</u>
            </span>
            <ng-template #tipContent>
              <div class="">
                <div class="content-row">
                  <span>Creation Date</span>
                  <span>{{ plant.creationDate | date: 'yyyy-MM-dd' }}</span>
                </div>
                <div class="content-row">
                  <span>Created By</span>
                  <span>{{ plant.createdBy }}</span>
                </div>
                <div class="content-row">
                  <span>Last Update Date</span>
                  <span>{{ plant.lastUpdateOn | date: 'yyyy-MM-dd'}}</span>
                </div>
                <div class="content-row">
                  <span>Last Updated By</span>
                  <span>{{ plant.lastUpdatedBy }}</span>
                </div>
              </div>
            </ng-template>
          </td>
          <td>{{plant.plantDesc}}</td>
          <td>{{ plant.plantAddress }}</td>
          <td>{{ plant.state.value }}</td>
          <td>{{ plant.city.value }}</td>
          <td>{{ plant.panNo }}</td>
          <td>{{ plant.gstnNo }}</td>
          <td>{{ plant.siteCode }}</td>
          <td>{{ plant.locations.value }}</td>
          <td>{{ plant.dsc }}</td>
          <td>{{ plant.dcp }}</td>
          <td>{{ plant.status }}</td>
          <td class="text-center">
            <img
              src="assets/images/icons/link.svg"
              class="me-2 pointer"
              alt="link"
              (click)="onLinkClick(plant)"
            />
            <img
              src="assets/images/icons/editPencil.svg"
              class="pointer"
              alt="edit"
              (click)="onGoToEditPlant(plant)"
            />
          </td>
        </tr>
        }@empty {
        <tr>
          <td align="center" colspan="13">No Plant Found</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
