@import './../../../../../../assets/SCSS/mixins';
.custom-table {
    background-color: var(--white);
    border-radius: 10px;

    table {
        width: 100%;

        thead {
            tr {
                th {
                    @include gridTableHeading;
                }
            }
        }

        tbody {
            tr {
                @include gridTableRowBorder;

                td {
                    @include gridTableBody;
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }

}