<div class="common-modal">
  <div class="ngmodal-header">
    <h3>
      Bilti Bill Process Details
      <span class="float-right" (click)="activeModal.dismiss('Cross click')">
        <img src="assets/images/icons/close.svg" alt="" />
      </span>
      <div class="clearfix"></div>
    </h3>
  </div>
  <form>
    <div class="ngmodal-body">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Bilti Number</label>
            <input type="text" class="input-field" disabled value="BILNHA23000203"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Bilti Date</label>
            <input type="text" class="input-field" disabled value="01/01/2024 19:19:00"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Advice Type</label>
            <input type="text" class="input-field" disabled value="RM Sales to Vendor"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Document Ref. Number</label>
            <input type="text" class="input-field" disabled value="SINDGZA989398983"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Supplier Name</label>
            <input type="text" class="input-field" disabled value="IN0001947"/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Freight Amount</label>
            <input type="text" class="input-field" disabled value="5000.00"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Penalty Amount</label>
            <input type="text" class="input-field" disabled />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Penalty Reason</label>
            <input type="text" class="input-field" />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Excess Amount</label>
            <input type="text" class="input-field" disabled />
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
          <div class="custom-form-input">
            <label for="">Excess Reason</label>
            <input type="text" class="input-field" value="RM_SALES_HA_650"/>
          </div>
        </div>
      </div>
      <div class="modal-subTable">
        <h4 class="">Charges by Vendor</h4>
      </div>
      <div class="custom-table">
        <table>
          <thead>
            <tr>
              <th class="ps-0">Freight Charge</th>
              <th>Point Charge</th>
              <th>Detention Charge</th>
              <th>Overload Charge</th>
              <th>Toll Tax</th>
              <th>Unloading Charge</th>
              <th>Other Charges</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ps-0">
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="925.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-subTable">
        <h4 class="">Charges by LG</h4>
      </div>
      <div class="custom-table">
        <table>
          <thead>
            <tr>
              <th class="ps-0">Freight Charge</th>
              <th>Point Charge</th>
              <th>Detention Charge</th>
              <th>Overload Charge</th>
              <th>Toll Tax</th>
              <th>Unloading Charge</th>
              <th>Other Charges</th>
              <th>Remarks</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="ps-0">
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="5000.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" value="0.00"/>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input type="text" class="input-field" />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-subTable">
        <div class="row">
          <div class="col-lg-2 col-md-2">
            <div class="custom-form-input">
              <label for="">Grand Total</label>
              <input type="text" class="input-field" disabled value="5925.00"/>
            </div>
          </div>
          <div class="col-lg-10 col-md-10">
            <div class="custom-form-input">
              <label for="" class="d-block">&nbsp;</label>
              Four Thousand Nine Hundred Twenty Five Rupees Only
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ngmodal-footer text-center mt-5">
      <button class="custom-button-regulr">Save</button>
    </div>
  </form>
</div>
