<div class="page-title">
    <h1>{{lookuptypeId>0 ? 'Edit' : 'Create' }} Lookup Type</h1>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onSaveButtonClick()">Save</button>
        <button class="custom-button-regulr" (click)="onPressSubmit()">Submit</button>
        <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
</div>

<div class="content-section p-3">
    <form [formGroup]="lookupTypeForm">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Type <span class="text-danger" *ngIf="lookuptypeId == 0">*</span></label>
                    <ng-select class="input-field" formControlName="type" *ngIf="lookuptypeId>0" [readonly]="true">
                        <ng-option *ngFor="let lookupType of lookupTypes"
                            [value]="lookupType.type">{{lookupType.type}}</ng-option>
                    </ng-select>
                    <input type="text" class="input-field" formControlName="type" *ngIf="lookuptypeId == 0" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Description <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="description" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2" *ngIf="lookuptypeId>0">
                <div class="custom-form-input">
                    <label for="">Status <span class="text-danger">*</span></label>
                    <select name="" id="" formControlName="status">
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 1 <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="attribute1" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 2 <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="attribute2" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 3 <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="attribute3" />
                </div>
            </div>
            <div class="col-lg-2 col-md-2">
                <div class="custom-form-input">
                    <label for="">Attribute 4 <span class="text-danger">*</span></label>
                    <input type="text" class="input-field" formControlName="attribute4" />
                </div>
            </div>
        </div>
    </form>

    <div class="edit-screen-subTable" *ngIf="showFilledDetails">
        <h4 class="">Filled Details</h4>
    </div>

    <div class="custom-table" *ngIf="showFilledDetails">
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Attribute 1</th>
                    <th>Attribute 2</th>
                    <th>Attribute 3</th>
                    <th>Attribute 4</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ filledDetails?.type }}</td>
                    <td>{{ filledDetails?.description }}</td>
                    <td>{{filledDetails?.status}}</td>
                    <td>{{filledDetails?.attribute1}}</td>
                    <td>{{filledDetails?.attribute2}}</td>
                    <td>{{filledDetails?.attribute3}}</td>
                    <td>{{filledDetails?.attribute4}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>