.content-section {
    height: calc(100vh - 162px);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 4px #00000024;
    overflow: auto;
}

.dispatchwidth{
    min-width:150px;
}

.dispatchwidthsmall{
    max-width:100px;
}
// .custom-table {
//   max-height: 300px; /* Set your preferred height */
//   overflow-y: auto;  /* Enable vertical scrolling */
// }

// .custom-table table {
//   border-collapse: collapse;
//   width: 100%;
// }

// .custom-table thead th {
//   position: sticky;
//   top: 0;
//    /* Or any background color to cover rows behind */
//   z-index: 10;             /* Keep header on top */
//    /* Optional: better separation */
// }
