<div class="page-title">
  <h1>{{dispatchId > 0 ? 'Edit': 'Create'}} Dispatch Note</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onSavePress()" [disabled]="isFormInvalid()">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="addOrEditDispatchNoteFormGroup">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Location Code<span class="text-danger">*</span></label>
          <ng-select [searchable]="true" formControlName="locationId" placeholder="Select location" [readonly]="dispatchId > 0"
            (change)="onLocationSelect($event)">
            <ng-option *ngFor="let location of commonLocations" [value]="location.id">{{location.value}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="custom-form-input">
          <label for="">Supplier Code <span class="text-danger">*</span></label>
          <ng-select formControlName="supplierCode" (change)="onSupplierCodeSelection($event)" class="input-field"
            placeholder="Select Supplier Code" (clear)="onSupplierCodeClear()">
            <ng-option *ngFor="let supplier of activeSuppliersLists"
              [value]="supplier.vendorCode">{{supplier.vendorCode}} ({{supplier.vendorName}})</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Supplier Name</label>
          <input formControlName="supplierName" type="text" class="input-field" readonly
            value="Sunplast Electronics Pvt Ltd" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="custom-form-input">
          <label for="">Supplier Address</label>
          <input formControlName="supplierAddress" type="text" class="input-field" readonly
            value="LG Electronics Pvt. Ltd, Surajpur, Greater Noida" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="custom-form-input">
          <label for=""> Transporter Code <span class="text-danger">*</span></label>
          <ng-select (change)="onTransporterSelection($event)" formControlName="transporterCode" class="input-field"
            placeholder="Select Transporter Code">
            <ng-option *ngFor="let transporter of filteredTransporter"
              [value]="transporter.id">{{transporter.transporterCode}} ({{transporter?.transporterName}})</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Transporter Name <span class="text-danger">*</span></label>
          <input formControlName="transporterName" type="text" class="input-field" readonly />
        </div>
      </div>
      <div class="col-lg-2 col-md-2" *ngIf="transporterMode.length > 1">
        <div class="custom-form-input">
          <label for="">Transporter Mode <span class="text-danger">*</span></label>
          <ng-select formControlName="transporterMode" class="input-field"
          placeholder="Select Transporter Code">
          <ng-option *ngFor="let mode of transporterMode"
            [value]="mode.code">{{mode.value}}</ng-option>
        </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Transporter Mode <span class="text-danger">*</span></label>
          <ng-select formControlName="transporterMode" class="input-field"
          placeholder="Select Transporter Code">
          <ng-option *ngFor="let mode of transporterMode"
            [value]="mode.code">{{mode.value}}</ng-option>
        </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Vehicle Number <span class="text-danger">*</span></label>
          <ng-select (change)="onVehicleNumberSelection($event)" formControlName="vehicleNumber" class="input-field"
            placeholder="Select Vehicle Number" (clear)="onVehicleNumberClear()">
            <ng-option *ngFor="let vehicle of filteredVehicles"
              [value]="vehicle.vehicleNumber">{{vehicle.vehicleNumber}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Vehicle Size</label>
          <input formControlName="vehicleSize" type="text" class="input-field" readonly value="17" />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">FRLR# </label>
          <input formControlName="frlrNumber" type="text" class="input-field" value="FRLR1" />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">FRLR Date</label>
          <div class="input-group datepicker">
            <input class="form-control" placeholder="yyyy-mm-dd" name="fromDt" [autoClose]="true" formControlName="frlrDate"
              [maxDate]="today" (dateSelect)="onDateSelect('frlrDate', $event)" ngbDatepicker #fromDt="ngbDatepicker" readonly/>
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="fromDt.toggle()" type="button">
              <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="edit-screen-subTable">
      <h4 class="">
        Part Details
        <button (click)="createPartDetailsGroup()" class="custom-button-regulr">Add</button>
      </h4>
    </div>

    <div class="custom-table">
      <table>
        <thead>
          <tr>
            <th>Line#</th>
            <th>Part Number</th>
            <th>Part Name</th>
            <th>Part Qty</th>
            <th>Part Size</th>
            <th>Remarks</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <!-- <tbody *ngIf="dispatchNote.partDetails"> -->
        <!-- <tbody *ngIf="partDetails.controls.length "> -->
        <tbody formArrayName="partdetails">

          <ng-container *ngFor="let vendorGroup of partDetails.controls; let ind = index">

            <tr formGroupName={{ind}}>
              <td>{{ind+1}}</td>
              <td>
                <div class="custom-form-input dispatchwidth">
                  <ng-select class="input-field" placeholder="Select Part Number" formControlName="partNumber"
                    (change)="onPartSelect($event, ind)">
                    <ng-option *ngFor="let part of getFilteredPartNumbers(ind)" [value]="part">{{part.partNumber}} ({{part?.partName}})</ng-option>
                  </ng-select>

                </div>
              </td>
              <td>
                <div class="custom-form-input dispatchwidth">
                  <input formControlName="partName" type="text" class="input-field" placeholder="Part Name" readonly
                    [value]="" />

                </div>
              </td>
              <td>
                <div class="custom-form-input dispatchwidth">
                  <input formControlName="partQuantity" class="input-field" type="text" placeholder="Select Quantity" (keypress)="validateNo($event)">
                </div>
              </td>
              <td>
                <div class="custom-form-input dispatchwidth">
                  <input formControlName="partSize" type="text" class="input-field" placeholder="Part Size" readonly
                    [value]="" />

                </div>
              </td>
              <td>
                <div class="custom-form-input dispatchwidth">
                  <input formControlName="remarks" type="text" class="input-field" placeholder="Remarks" readonly
                    [value]="" />
                </div>
              </td>
              <td class="text-center">
                <img src="assets/images/icons/trash.svg" class="me-2 pointer" alt="link"
                  (click)="onDeletePartDetail(vendorGroup, ind)" />
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>