<div class="page-title">
  <h1>{{dispatchId > 0 ? 'Edit': 'Create'}} Dispatch Note</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="onSavePress()">Save</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="addOrEditDispatchNoteFormGroup">
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Supplier Code</label>
          <ng-select formControlName="supplierCode" (change)="onSupplierCodeSelection($event)" class="input-field"
            placeholder="Select Part Number" (clear)="onSupplierCodeClear()">
            <ng-option *ngFor="let supplier of supplierList"
              [value]="supplier.vendorCode">{{supplier.vendorCode}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Supplier Name</label>
          <input formControlName="supplierName" type="text" class="input-field" readonly
            value="Sunplast Electronics Pvt Ltd" />
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="custom-form-input">
          <label for="">Supplier Address</label>
          <input formControlName="supplierAddress" type="text" class="input-field" readonly
            value="LG Electronics Pvt. Ltd, Surajpur, Greater Noida" />
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Vehicle Number</label>
          <ng-select (change)="onVehicleNumberSelection($event)" formControlName="vehicleNumber" class="input-field"
            placeholder="Select Part Number" (clear)="onVehicleNumberClear()">
            <ng-option *ngFor="let vehicle of vehicleList"
              [value]="vehicle.vehicleNumber">{{vehicle.vehicleNumber}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">Vehicle Size</label>
          <input formControlName="vehicleSize" type="text" class="input-field" readonly value="17" />
        </div>
      </div>

    </div>
    <div class="row">


      <div class="col-lg-2 col-md-2">
        <div class="custom-form-input">
          <label for="">FRLR#</label>
          <input formControlName="frlrNumber" type="text" class="input-field" value="FRLR1" />
        </div>
      </div>
    </div>

    <div class="edit-screen-subTable">
      <h4 class="">
        Part Details
        <button (click)="createPartDetailsGroup()" class="custom-button-regulr">Add</button>
      </h4>
    </div>

    <div class="custom-table">
      <table>
        <thead>
          <tr>
            <th>Line#</th>
            <th>Part Number</th>
            <th>Part Name</th>
            <th>Part Qty</th>
            <th>Part Size</th>
            <th>Remarks</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <!-- <tbody *ngIf="dispatchNote.partDetails"> -->
        <!-- <tbody *ngIf="partDetails.controls.length "> -->
        <tbody formArrayName="partdetails">

          <ng-container *ngFor="let vendorGroup of partDetails.controls; let ind = index">

            <tr formGroupName={{ind}}>
              <td>{{ind+1}}</td>
              <td>
                <div class="custom-form-input">
                  <ng-select class="input-field" placeholder="Select Part Number" formControlName="partNumber"
                    (change)="onPartSelect($event, ind)">
                    <ng-option *ngFor="let part of partsList" [value]="part">{{part.partNumber}}</ng-option>
                  </ng-select>

                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input formControlName="partName" type="text" class="input-field" placeholder="Part Name" readonly
                    [value]="" />

                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <ng-select formControlName="partQuantity" class="input-field" #qty placeholder="Select Quantity"
                    (change)="onQuantitySelection($event, ind)">
                    <ng-option *ngFor="let lookup of lookupList" [value]="lookup.id">{{lookup.value}}</ng-option>
                  </ng-select>
                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input formControlName="partSize" type="text" class="input-field" placeholder="Part Size" readonly
                    [value]="" />

                </div>
              </td>
              <td>
                <div class="custom-form-input">
                  <input formControlName="remarks" type="text" class="input-field" placeholder="Remarks" readonly
                    [value]="" />
                </div>
              </td>
              <td class="text-center">
                <img src="assets/images/icons/trash.svg" class="me-2 pointer" alt="link"
                  (click)="onDeletePartDetail(vendorGroup, ind)" />
              </td>
            </tr>
          </ng-container>

        </tbody>
      </table>
    </div>
  </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>