<div class="page-title">
  <h1>{{dispatchId > 0 ? 'Edit': 'Create'}} Vendor Invoice </h1>
  <div class="action-buttons">
    <button class="custom-button-regulr"
        (click)="onSavePress()">Save</button>
    <!-- [disabled]="isFormInvalid() -->
    <button class="custom-button-secondary" (click)="onCancelPress()">
      Cancel
    </button>
  </div>
</div>

<div class="content-section p-3">
  <form [formGroup]="addOrEditDispatchNoteFormGroup">
    <ul class="nav nav-tabs mb-3">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#Tab1">Purchase INV-1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Tab2">Purchase INV-2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Tab3">Payment Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#Tab4">Sales INV
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="Tab1" class="tab-pane fade show active">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Vendor Name <span class="text-danger">*</span></label>
              <ng-select [searchable]="true" formControlName="vendorId" [readonly]="dispatchId > 0"
                (change)="onVendorSelect($event)">
                <ng-option *ngFor="let vendor of vendorsList" [value]="vendor.id">
                  {{ vendor.vendorName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Vendor Country <span class="text-danger">*</span></label>
              <input type="text" class="form-control" [value]="selectedVendorCountry" placeholder="Vendor country "
                readonly>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Invoice Date <span class="text-danger">*</span></label>
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fromDt" [autoClose]="true"
                  formControlName="invoiceDate" (dateSelect)="onInvoiceDateChange($event)" ngbDatepicker
                  #fromDt="ngbDatepicker" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="fromDt.toggle()" type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">FY <span class="text-danger">*</span></label>
              <input formControlName="fy" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for=""> Client Invoice No <span class="text-danger">*</span></label>
              <input formControlName="clientInvoiceNo" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Due Date As Per Invoice <span class="text-danger">*</span></label>
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dueDateAsPerInvoice" [autoClose]="true"
                  formControlName="dueDateAsPerInvoice" (dateSelect)="onDateSelect('dueDateAsPerInvoice', $event)"
                  ngbDatepicker #dueDateAsPerInvoice="ngbDatepicker" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="dueDateAsPerInvoice.toggle()"
                  type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for=""> Credit Days As Per Contract </label>
              <input formControlName="creditDaysAsPerContract" type="number" class="input-field"
                (input)="onCreditDaysChange()" (keypress)="validateNo1($event)" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Due Date As Per Contract </label>
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="dueDateAsPerContract"
                  ngbDatepicker formControlName="dueDateAsPerContract" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar3" type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Customer Name <span class="text-danger">*</span></label>
              <select formControlName="customerId" class="input-field">
                <option value="">Select Customer</option>
                <option *ngFor="let customers of customersList" [value]="customers.id">
                  {{ customers.customerName }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Description </label>
              <input formControlName="description" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Title <span class="text-danger">*</span></label>
              <input formControlName="title" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Application Number <span class="text-danger">*</span></label>
              <input formControlName="applicationNumber" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Filing Date </label>
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="filingDate" [autoClose]="true"
                  formControlName="filingDate" (dateSelect)="onDateSelect('filingDate', $event)" ngbDatepicker
                  #filingDate="ngbDatepicker" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar6" (click)="filingDate.toggle()" type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>

            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Client Ref No <span class="text-danger">*</span></label>
              <input formControlName="clientRefNo" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Our Ref No <span class="text-danger">*</span></label>
              <input formControlName="ourRefNo" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Filing Receipt Supporting <span class="text-danger">*</span></label>
              <ng-select [items]="[{ label: 'Yes', value: 'YES' }, { label: 'No', value: 'NO' }]" bindLabel="label"
                bindValue="value" formControlName="officialFilingReceiptSupporting" placeholder="Select Yes or No"
                class="input-field">
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Work Delivery Date </label>
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="workDeliveryDateOrMonth" [autoClose]="true"
                  formControlName="workDeliveryDateOrMonth"
                  (dateSelect)="onDateSelect('workDeliveryDateOrMonth', $event)" ngbDatepicker
                  #workDeliveryDateOrMonthDt="ngbDatepicker" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="workDeliveryDateOrMonthDt.toggle()"
                  type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Purchase Currency <span class="text-danger">*</span></label>
              <input type="text" formControlName="purchaseCurrency" class="form-control form-control-sm"
                placeholder="Currency" readonly />
            </div>
          </div>
        </div>
      </div>

      <div id="Tab2" class="tab-pane fade">
        <div class="edit-screen-subTable mt-0">
          <h4>
            Invoice Fee Details
            <button (click)="createInvoiceFeeDetailsGroup()" class="custom-button-regulr">Add</button>
          </h4>
        </div>

        <div class="custom-table">
          <table>
            <thead class="table table-bordered">
              <tr>
                <th>Line</th>
                <th class="required-label">Fees Type</th>
                <th class="required-label">Type</th>
                <th class="required-label">Country</th>
                <th *ngIf="isTranslationFeeSelected" class="required-label">Language</th>
                <th class="required-label">Amount</th>
                <th>Remarks</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>

            <tbody formArrayName="invoiceFeeDetails">
              <ng-container *ngFor="let vendorGroup of invoiceFeeDetails.controls; let ind = index">


                <tr formGroupName={{ind}}>

                  <td>{{ind+1}}</td>
                  <!-- Prof Fees -->
                  <td>
                    <div class="custom-form-input dispatchwidth">
                      <select class="form-control input-field" formControlName="feeType"
                        (change)="onFeeTypeSelect(getSelectedValue($event), ind)">
                        <option value="">Select Fee Type</option>
                        <option value="Professional Fee">Professional Fee</option>
                        <option value="Govt or Offical Fee">Govt or Offical Fee</option>
                        <option value="Other Charges">Other Charges</option>
                      </select>
                    </div>
                  </td>


                  <!-- SubItem -->

                  <td>
                    <div class="custom-form-input dispatchwidth">
                      <ng-select class="input-field" placeholder="Add Sub Fee" [items]="subFeeOptionsList[ind]"
                        bindLabel="value" bindValue="value" formControlName="subFeeValue"
                        (change)="onFeeTypeChange(ind)">
                      </ng-select>
                    </div>
                  </td>

                  <!-- Country -->

                  <td>
                    <div class="custom-form-input dispatchwidth">
                      <ng-select class="input-field" placeholder="Select Country" formControlName="country">
                        <ng-option *ngFor="let country of countryList" [value]="country.countryName">
                          {{ country.countryName }}
                        </ng-option>
                      </ng-select>
                    </div>
                  </td>

                  <td *ngIf="isTranslationFeeSelected">
                    <ng-container *ngIf="vendorGroup.get('subFeeValue')?.value === 'Translation Fee'; else emptyLang">
                      <div class="custom-form-input dispatchwidth">
                        <ng-select class="input-field" placeholder="Select Language" [items]="languageList"
                          bindLabel="name" bindValue="code" formControlName="language">
                        </ng-select>
                      </div>
                    </ng-container>
                    <ng-template #emptyLang>
                      <!-- empty cell to align columns -->
                    </ng-template>
                  </td>

                  <!-- Amount -->
                  <td>
                    <div class="custom-form-input dispatchwidthsmall">
                      <input formControlName="amount" class="input-field" type="number" placeholder="Enter Amt"
                        (keypress)="validateNo1($event)">
                    </div>
                  </td>

                  <!-- Remarks -->
                  <td>
                    <div class="custom-form-input dispatchwidth">
                      <input formControlName="remarks" type="text" class="input-field" placeholder="Remarks">
                    </div>
                  </td>

                  <!-- Action -->
                  <td class="text-center">
                    <img src="assets/images/icons/trash.svg" class="me-2 pointer" alt="Delete"
                      (click)="onDeleteInvoiceFeeDetail(vendorGroup, ind)" />
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <!-- Totals Section -->
        <div class="row mt-4 gx-4 gy-3">
          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Professional Fee Total Amount</label>
              <input formControlName="professionalFeeAmt" type="number" class="input-field form-control" readonly />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Govt/Official Fee Total Amount</label>
              <input formControlName="govtOrOfficialFeeAmt" type="number" class="input-field form-control" readonly />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Other Charges Total Amount</label>
              <input formControlName="otherChargesAmt" type="number" class="input-field form-control" readonly />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Discount Amount</label>
              <input formControlName="discountAmt" type="number" class="input-field form-control"
                (keypress)="validateNo1($event)" />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Discount CreditNote Amount</label>
              <input formControlName="discountCreditNoteAmt" type="number" class="input-field form-control"
                (keypress)="validateNo1($event)" />
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="custom-form-input">
              <label class="fw-bold">Total Amount</label>
              <input formControlName="totalAmount" type="number" class="input-field form-control" readonly />
            </div>
          </div>
        </div>
      </div>

      <div id="Tab3" class="tab-pane fade show ">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Payment Date <span class="text-danger">*</span></label>
              <!-- <input formControlName="paymentDate" type="text" class="input-field" /> -->
              <div class="input-group datepicker">
                <input class="form-control" placeholder="yyyy-mm-dd" name="paymentDate" [autoClose]="true"
                  formControlName="paymentDate" (dateSelect)="onDateSelect('paymentDate', $event)" ngbDatepicker
                  #paymentDate="ngbDatepicker" readonly />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="paymentDate.toggle()" type="button">
                  <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Bank Name <span class="text-danger">*</span></label>
              <ng-select formControlName="bankID" class="input-field" placeholder="Select Bank">
                <ng-option *ngFor="let bank of transactionTypesList" [value]="bank.id">
                  {{ bank.bankName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">OWRM No 1 <span class="text-danger">*</span></label>
              <input formControlName="owrmNo1" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">OWRM No 2</label>
              <input formControlName="owrmNo2" type="text" class="input-field" />
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Payment Currency <span class="text-danger">*</span></label>
              <ng-select formControlName="paymentCurrency" class="input-field" placeholder="Select Currency">
                <ng-option *ngFor="let country of countryList" [value]="country.currencyName">
                  {{ country.currencyName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="custom-form-input">
              <label for="">Payment Amount <span class="text-danger">*</span></label>
              <input formControlName="paymentAmount" type="number" class="input-field"
                (keypress)="validateNo1($event)" />
            </div>
          </div>
        </div>
      </div>

      <div id="Tab4" class="tab-pane fade show ">

        <!-- Fixed (non-repeating) Fields -->
        <div class="row g-2 mb-3 d-flex align-items-center">
          <div class="col-md-3">
            <label class="label-small">Customer PO Number <span class="text-danger">*</span></label>
            <input formControlName="customerPONo" type="text" class="form-control form-control-sm input-field-sm" />
          </div>

          <div class="col-md-3">
            <label class="label-small">PO Value Inclusive Taxes <span class="text-danger">*</span></label>
            <input formControlName="poValueInclusiveTaxes" type="text"
              class="form-control form-control-sm input-field-sm" (keypress)="validateNo1($event)" />
          </div>

          <div class="col-sm-3">
            <label class="label-small">PO Date <span class="text-danger">*</span></label>
            <div class="input-group input-group-sm">
              <input placeholder="yyyy-mm-dd" formControlName="poDate" class="form-control input-field-sm" ngbDatepicker
                #poDate="ngbDatepicker" (dateSelect)="onDateSelect('poDate', $event)" readonly />
              <button class="btn btn-outline-secondary" (click)="poDate.toggle()" type="button">
                <img src="assets/images/icons/calendar.svg" alt="" width="15px" />
              </button>
            </div>
          </div>

          <div class="col-sm-3">
            <label class="label-small">Sales Currency <span class="text-danger">*</span></label>
            <ng-select formControlName="saleCurrency" class="shetty" placeholder="Select Currency">
              <ng-option *ngFor="let country of countryList" [value]="country.currencyName">
                {{ country.currencyName }}
              </ng-option>
            </ng-select>
          </div>
        </div>

        <div class="edit-screen-subTable mt-0">
          <h5>
            <button class="btn btn-outline-primary btn-sm me-2" [class.active]="activeSection === 'professional'"
              (click)="activeSection = 'professional'">Professional Fee Deatils</button>

            <button class="btn btn-outline-success btn-sm" [class.active]="activeSection === 'govt'"
              (click)="activeSection = 'govt'">Govt/Official Fee Details</button>
          </h5>
        </div>

        <!-- Show Only Those Rows Based on Section -->
        <div *ngIf="activeSection === 'professional'">
          <div class="d-flex justify-content-between align-items-center">
            <h6>Professional Fee Details</h6>
            <button (click)="addSaleInvoice('Professional')" class="btn btn-sm btn-danger">+ Add</button>
          </div>

          <table class="table table-sm table-bordered mt-2">
            <thead class="table-light text-center">
              <tr>
                <th class="text-center">#</th>
                <th class="required-label">Professional Inv No</th>
                <th class="required-label">Professional Amount</th>
                <th>Estimate No</th>
                <th>Remarks</th>
                <th class="required-label">Posted In Tally</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody [formGroup]="addOrEditDispatchNoteFormGroup">
              <tr class="border" *ngFor="let group of filteredSalesInvoices('Professional'); let i = index" [formGroup]="group">
                <td class="text-center">{{ i + 1 }}</td>
                <td><input formControlName="invoiceNo" class="form-control form-control" /></td>
                <td><input formControlName="amount" class="form-control form-control"
                    (keypress)="validateNo1($event)" /></td>
                <td><input formControlName="estimateNo" class="form-control form-control"
                    (keypress)="validateNo1($event)" /></td>
                <td><input formControlName="remarks" class="form-control form-control" /></td>
                <td>
                  <ng-select formControlName="postedInTally" class="ng-select-custom">
                    <ng-option [value]="'Yes'">Yes</ng-option>
                    <ng-option [value]="'No'">No</ng-option>
                  </ng-select>
                </td>
                <td class="text-center"><img class="me-2 pointer"  src="assets/images/icons/trash.svg" width="18px" (click)="removeSaleInvoice(group)" /></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="activeSection === 'govt'">
          <div class="d-flex justify-content-between align-items-center">
            <h6>Govt/Official Fee Details</h6>
            <button (click)="addSaleInvoice('Govt')" class="btn btn-sm btn-danger">+ Add</button>
          </div>
          <table class="table table-sm table-bordered mt-2">
            <thead class="table-light text-center">
              <tr>
                <th>#</th>
                <th class="required-label">Govt/official Inv No</th>
                <th class="required-label">Govt/Official Amount<span class="text-danger">*</span></th>
                <th>Estimate No</th>
                <th>Remarks</th>
                <th class="required-label">Posted In Tally</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody [formGroup]="addOrEditDispatchNoteFormGroup">
              <tr *ngFor="let group of filteredSalesInvoices('Govt'); let i = index" [formGroup]="group">
                <td>{{ i + 1 }}</td>
                <td><input formControlName="invoiceNo" class="form-control form-control" /></td>
                <td><input formControlName="amount" class="form-control form-control"
                    (keypress)="validateNo1($event)" /></td>
                <td><input formControlName="estimateNo" class="form-control form-control"
                    (keypress)="validateNo1($event)" /></td>
                <td><input formControlName="remarks" class="form-control form-control" /></td>
                <td>
                  <ng-select formControlName="postedInTally" class="ng-select-custom">
                    <ng-option [value]="'Yes'">Yes</ng-option>
                    <ng-option [value]="'No'">No</ng-option>
                  </ng-select>
                </td>
                <td><img src="assets/images/icons/trash.svg" width="18px" (click)="removeSaleInvoice(group)" /></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </form>
</div>



<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>